@{
    Layout = null;
}

<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Because Magazine</title>

	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="Keywords" content="fashion, beauty, jewellery, culture, music, Caroline Issa, Naomi Bikis" />
	<meta name="Description" content="Because is a digital fashion magazine offering a curated collection of the best fashion, accessories, beauty, jewellery and culture currently available or arriving soon in stores and online." />
	<meta name="Author" content="Paul Arnold" />

	<link rel="apple-touch-icon" href="/images/portfolio/because/apple-icon.png" />
	@*<link rel="stylesheet" href="/content/css/portfolio/m-because_min.css" media="screen and (min-device-width: 320px) and (max-device-height: 568px)" />*@
	<link rel="stylesheet" href="/content/css/portfolio/m-because_min.css" />

</head>
<body>

	<div id="page">

		<header id="header" role="banner">
			<a href="/portfolio">
				<img class="logo" src="/images/portfolio/because/because-logo-phone.png" alt="Because Magazine" width="136" height="35" />
			</a>
			<img class="menu" src="/images/portfolio/because/menu-button.png" alt="Menu" width="21" height="20" />
			<img class="search" src="/images/portfolio/because/search.png" alt="Search" width="15" height="15" />
		</header>

		<form id="searchForm" action="/m-search" method="get" role="search">
			<input type="search" name="search" required="required" />
		</form>

		<section id="contents">
			<img class="menu" src="/images/portfolio/because/menu-button.png" alt="Menu" width="21" height="20" />
			<section>
				<h2>Contents</h2>
				<ul>
					<li><a href="/portfolio">Home</a></li>
					<li><a href="/portfolio">Fashion</a></li>
					<li><a href="/portfolio">Culture</a></li>
					<li><a href="/portfolio">Beauty</a></li>
				</ul>
			</section>
			<section>
				<h2>Info</h2>
				<ul>
					<li><a href="/portfolio">About</a></li>
					<li><a href="/portfolio">Legal</a></li>
				</ul>
			</section>
			<section>
				<h2>Share</h2>
				<ul>
					<li><a href="/portfolio" target="_blank">Facebook</a></li>
					<li><a href="/portfolio" target="_blank">Twitter</a></li>
					<li onclick="pageSlide('emailPopout')">Email</li>
					<li><a href="/portfolio" target="_blank">Diary</a></li>
				</ul>
			</section>
		</section>

		

		<section class="category">
			<a href="/portfolio">
				<hgroup class="header">
					<h2>Fashion</h2>
					<h3>News, views, So hot right now</h3>
				</hgroup>
			</a>
			<div class="slider">
				<ul>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/fashion_welove__f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>The Cut</h2>
								<h3>Shapes, not shades, for a well defined look</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/fashion_blocks_still_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>The new black</h2>
								<h3>Nothing rivals our devotion to this shade</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/apologies.gif" alt="" width="302" height="170" /></a><hgroup>
								<h2>Apologie</h2>
								<h3>Designer Olivia Cognet on her footwear label to watch</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/fashion_asia_4_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>East Side Story</h2>
								<h3>SS13's Asian inspiration – how to wear the trend</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/fashion_thatshot_magda_f.jpg" alt="Magda London street style" width="302" height="170" /></a><hgroup>
								<h2>That's Hot: Magda</h2>
								<h3>Inspiration from the street</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article>
							<a href="/portfolio">
								<img class="main" src="/images/portfolio/because/fashion_news_english_f.jpg" alt="Phoebe English for DSM" width="302" height="170" /></a><hgroup>
									<h2>Phoebe English for DSM</h2>
									<h3>The designer unveils her window for the London store
									</h3>
								</hgroup>
						</article>
					</li>
				</ul>
			</div>
			<a class="more" href="/portfolio">More...</a>
		</section>
		<section class="category"><a href="/portfolio">
			<hgroup class="header">
				<h2>Culture</h2>
				<h3>News Got to see that, Listen to</h3>
			</hgroup>
		</a>
			<div class="slider">
				<ul>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/culture_miu1_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>MAKING IT UP: PHOTOGRAPHIC FICTIONS</h2>
								<h3>The camera never lies</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/radio_alexburkat_01_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>Alex Burkat</h2>
								<h3>Jubilant disco-house from a New York newcomer</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/radio_mirage_01_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>Mirage</h2>
								<h3>Italo-disco pin-ups Italians Do It Better are back</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/radio_sadcity_01_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>Sad City</h2>
								<h3>A pre-summer anthem from the Glasgow-based producer</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio" data-href="/portfolio">
							<img class="main" src="/images/portfolio/because/culture_hm1_f.jpg" alt="/o/o/o/o/" width="302" height="170" /></a><hgroup>
								<h2>/o/o/o/o/</h2>
								<h3>In a room, the gift of sound and vision</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio" data-href="/portfolio">
							<img class="main" src="/images/portfolio/because/radio_majicalcloudz_01_f.jpg" alt="Majical Cloudz are latest Montreal gem with Bugs Don't Buzz" width="302" height="170" /></a><hgroup>
								<h2>Majical Cloudz</h2>
								<h3>Another gem from the Montreal scene</h3>
							</hgroup>
						</article>
					</li>
				</ul>
			</div>
			<a class="more" href="/portfolio">More...</a></section>
		<section class="category"><a href="/portfolio">
			<hgroup class="header">
				<h2>Beauty</h2>
				<h3>News Tutorials, Must have that</h3>
			</hgroup>
		</a>
			<div class="slider">
				<ul>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/beauty_rebel_beauty15_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>01 Rebel Rebel</h2>
								<h3>Who wants to look pretty when you can look punk?</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/beauty_16_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>00 Le geek c'est chic</h2>
								<h3>Geek Chic beauty</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/o_beauty_trends_02_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>Beauty trends</h2>
								<h3>Back away from the sheer soft colours</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio">
							<img class="main" src="/images/portfolio/because/o_beauty_nails_trends_01_f.jpg" alt="" width="302" height="170" /></a><hgroup>
								<h2>Totally Nailed</h2>
								<h3>This season's nail art</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio" data-href="/portfolio">
							<img class="main" src="/images/portfolio/because/o_features_chanel_02_f.jpg" alt="Reign of flowers" width="302" height="170" /></a><hgroup>
								<h2>Reign of flowers</h2>
								<h3>Chanel scents</h3>
							</hgroup>
						</article>
					</li>
					<li>
						<article><a href="/portfolio" data-href="/portfolio">
							<img class="main" src="/images/portfolio/because/o_news_lancomeolympia_f.jpg" alt="Olympia Le-Tan's book of love" width="302" height="170" /></a><hgroup>
								<h2>Olympia Le-Tan's book of love </h2>
								<h3>Olympia Le-Tan and Lancome fall in love </h3>
							</hgroup>
						</article>
					</li>
				</ul>
			</div>
			<a class="more" href="/portfolio">More...</a></section>

	</div>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>
		// <![CDATA[
		if (!window.jQuery) document.write('<script type="text/javascript" src="/scripts/jquery-1.9.1.min.js"><\/script>');
		// ]]>
	</script>
	<script src="/scripts/portfolio/m-because_min.js" async="async"></script>
	<script>
		if (document.addEventListener) addEventListener('load', function () { setTimeout(hideURLbar, 0); }, false); function hideURLbar() { window.scrollTo(0, 1); };
	</script>

</body>
</html>
