@{
	Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb" xml:lang="en-gb">
<head>
	<title>FSE: Fire Safety Engineering</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="X-UA-Compatible" content="IE=7" />
	<meta name="keywords" />
	<meta name="description" content="Fire Safety Engineering" />
	<meta name="author" content="Paul Arnold &amp; Damien Laffan" />
	<link href="/content/css/portfolio/fse.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/content/css/portfolio/cm.css" rel="alternate stylesheet" type="text/css" media="all" title="Cabinet Maker" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link rel="icon" href="favicon.ico" type="image/x-icon" />

	<script language="javascript" type="text/javascript">
		function confirmLogout(siteName) {
			return confirm('Logging out will prevent you automatically logging on the next time you use the ' + siteName + ' site. If you opted to save your details when you logged in and wish to be able to log on automatically when you next use the site, then do not log out but simply close the browser when you have finished viewing the site. Are you sure you want to continue?');
		}
	</script>

</head>

<body>

	<div id="info">
		<h1>Fire Safety Engineering May 2005</h1>
		<h2>The Definitive Magazine for Fire Professionals</h2>

		<h3>Contents</h3>
		<ul>
			<li><a href="/portfolio" title="Click here to go to the main page content">Main Content</a></li>
			<li><a href="/portfolio" title="Click here to go to the site navigation menu">Navigation</a></li>
			<li><a href="/portfolio" title="Click here to go to the footer links">Footer</a></li>
		</ul>
	</div>


	<div id="container">

		<!-- HEADER: Start ==================================================================================== -->
		<div id="header">
			<div id="siteLogo"><a href="/portfolio" title="Click here to return to the Fire Safety Engineering home page" class="blockLink"></a></div>
			<div id="strapline">The Definitive Magazine for Fire Professionals</div>
			<div id="issue">May 2005</div>
			<div id="home"><a href="/portfolio" title="Click here to return to the Fire Safety Engineering home page" class="blockLink">HOME</a></div>

			<div id="cmpLogo"><a href="/portfolio" title="Click here for more information on CMP Information" class="blockLink">CMP Information</a></div>
		</div>
		<!-- / header -->

		<!-- HEADER MENU BAR ============================================================================================= -->
		<div id="headerMenuBar">
			<form id="frmQuickSearch" name="frmQuickSearch" action="/search.asp" method="get">
				<input name="keyword" type="text" value="Search..." onfocus="this.value=''" class="text" />
				<input type="hidden" name="txtAction" value="search" />
				<input type="submit" value="GO" class="button" />
			</form>
			<span id="leftText" class="smallprint"><a href="/portfolio" title="Click here to perform a more advanced search">Advanced Search</a></span>
			<span id="rightText" class="smallprint"><a href="/portfolio" title="Click here to subscribe to Fire Safety Engineering">Subscribe</a></span>
		</div>
		<!-- / headerMenuBar -->

		<!-- BODY ============================================================================================= -->
		<div id="body">
			<div class="row">
				<div class="leftColumn">

					<a name="navigation"></a>
					<div id="menuMainA" class="menu">
						<p>Site Navigation:</p>
						<ul>
							<li class="first"><a href="/portfolio">Home</a></li>
							<li><a href="/portfolio">News</a></li>
							<li><a href="/portfolio">Features &amp; Articles</a></li>
							<li><a href="/portfolio">Products &amp; Services</a></li>
							<li><a href="/portfolio">Reader Enquiries</a></li>
							<li><a href="/portfolio">FSEmail</a></li>
						</ul>
					</div>
					<div id="menuMainB" class="menu">
						<p>Site Navigation:</p>
						<ul>
							<li class="first"><a href="/portfolio">Media Info</a></li>
							<li><a href="/portfolio">About FSE</a></li>
							<li><a href="/portfolio">Useful Links</a></li>
							<li><a href="/portfolio">Contact Us</a></li>
							<li><a href="/portfolio">RES Advertisers</a></li>
						</ul>
					</div>
					<p id="fseAward"><a href="/portfolio" class="blockLink" title="Click here for more information on the FSE Design Award">FSE Design Award</a></p>

					<br />
					<br />
				</div>
				<!-- / leftColumn -->


				<div class="centreColumn">
					<div id="content">
						<a name="mainContent"></a>
						<div id="box1" class="box first">
							<h1><span>News</span></h1>
							<h4><a href="/portfolio">A new era for FSE and the fire industry</a> <span>06/05/2005</span></h4>
							<p>The May 2005 issue of FSE heralds a new era. The magazine has been re-designed to give it a modern and easy to read style. The purpose of the re-design is also to demonstrate the new era into which the magazine and fire safety are entering.</p>
							<hr />
							<h4><a href="/portfolio">Fall in UK fires, deaths and injuries</a> <span>06/05/2005</span></h4>
							<p>The provisional number of fire related deaths in the UK fell to 566 in the year ending September 2004, from 598 in the previous year.</p>
							<hr />
							<h4><a href="/portfolio">All under one roof</a> <span>10/05/2005</span></h4>
							<img src="/images/portfolio/fse/1559.jpg" alt="Main Image for Article" /><p>International Fire Expo 2005, which takes place at the NEC Birmingham from the 16-19 May promises to make an enormous impact on the entire fire industry. More companies are exhibiting than ever before and new features have been introduced, including live demonstrations and a free consultants clinic.</p>
							<hr />
						</div>
						<div id="box2" class="box">
							<h1><span>Features &amp; Articles</span></h1>
							<h4><a href="/portfolio">Large Firewall Panels pass the test</a> <span>06/05/2005</span></h4>
							<img src="/images/portfolio/fse/1531.JPG" alt="Main Image for Article" /><p>With no UK furnace big enough to conduct a test Dr Gordon Cooke, fire consultant to the Performa Systems testing programme, sponsored by Eurobond Laminates, identifies the key points in the development of a professional assessment. He shows that fire resisting steel faced sandwich panels with non-combustible rock wool cores can be used for large fire walls in industrial and storage buildings.</p>
							<hr />
							<h4><a href="/portfolio">Structural shifts</a> <span>06/05/2005</span></h4>
							<img src="/images/portfolio/fse/1537.jpg" alt="Main Image for Article" /><p>With the impending reform of the regulatory regime come explicit shifts in the burden for fire protection. Mike Wood warns that unless we take a joined up approach to the construction and management of buildings, we will all be worse off.</p>
							<hr />
						</div>
						<div id="box3" class="box">
							<h1><span>Products &amp; Services</span></h1>
							<h4><a href="/portfolio">New S-Quard sensor range</a> <span>06/05/2005</span></h4>
							<img src="/images/portfolio/fse/1541.jpg" alt="Main Image for Article" /><p>At Fire Expo 2005, Gent by Honeywell will be showcasing the breadth of its fire detection and alarm systems capabilities. The theme of the Gent by Honeywell stand will reflect the current marketing campaign, focusing on the new S-Quad sensor range, a solution for the detection and signaling of fires.</p>
							<hr />
							<h4><a href="/portfolio">Apollo demonstrates customer response</a> <span>06/05/2005</span></h4>
							<img src="/images/portfolio/fse/1542.jpg" alt="Main Image for Article" /><p>Responsiveness to the customer will be demonstrated by Apollo Fire Detectors Limited at this year?s International Fire Expo. The company, which is celebrating its 25th anniversary during the event, will display a number of ancillary devices that it has introduced since Fire Expo 2003 to meet market requirements. These include a loop-powered beacon, an intelligent reflective beam detector and a new integrated base sounder.</p>
							<hr />
							<h4><a href="/portfolio">Wire free voice sounder</a> <span>06/05/2005</span></h4>
							<img src="/images/portfolio/fse/1540.jpeg" alt="Main Image for Article" /><p>The wire-free dome sounder is the latest product in product in EMS Group?s VoicePoint family to be powered by alkaline batteries. This completes the transition to an off-the-shelf battery solution for all EMS Group?s fire and voice sounder field devices. VoicePoint sounders are part of EMS Group?s well-established 5000 FirePoint radio analogue addressable fire alarm system.</p>
							<hr />
							<h4><a href="/portfolio">Aspirating detector tackles tricky applications</a> <span>06/05/2005</span></h4>
							<p>In large areas containing obstructions or enclosures, high-sensitivity smoke detection can be difficult. Infrared beam detectors may be unable to ?see? across the field, while conventional 'point' devices are either uneconomical or simply unsuitable.  In such cases, a new unit from wide-area detection specialist Fire Fighting Enterprises can be used. By sampling air through a custom-designed pipe layout, the Laser Aspirating Smoke Detector covers an extensive area using just one or two detectors</p>
							<hr />
							<h4><a href="/portfolio">The 'X' Factor</a> <span>10/05/2005</span></h4>
							<img src="/images/portfolio/fse/1556.JPG" alt="Main Image for Article" /><p>C-TEC will be launching its first networkable analogue addressable fire panel at International Fire Expo 2005. Designed to comply with EN54 parts 2/4, the panel offers a vast array of user and installer-friendly features.</p>
							<hr />
						</div>
					</div>
					<!-- / content -->

				</div>
				<!-- / centreColumn -->


				<!-- RIGHT COLUMN: Start ====================================================================================== -->

				<div class="rightColumn">
					<div id="latestIssue">
						<h3>Latest Issue</h3>
						<img src="/images/portfolio/fse/49.jpg" alt="Magazine cover: Fire Safety Engineering May 2005" />
					</div>

					<p id="subscribe"><a href="/portfolio" class="blockLink" title="Click here to subscribe to Fire Safety Engineering">Subscribe</a></p>
					<br />
				</div>
				<!-- / rightColumn -->
			</div>
			<!-- / row -->
		</div>
		<!-- / body -->

		<!-- FOOTER: Start =========================================================================== -->
		<div id="footer">
			<a name="footer"></a>
			<a href="/portfolio" title="Click here for more information on cookies and our privacy policy">Privacy Policy</a> | <a href="/portfolio" title="Click here for more information on the terms and conditions of this site">Terms &amp; Conditions</a> | <a href="/portfolio" title="Click here for more information on CMP Information">&copy; 2005 CMP Information</a>
		</div>
		<!-- / footer -->

	</div>
	<!-- / container -->

</body>

</html>

