@{
	Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb" xml:lang="en-gb">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>The Furniture Show: 25-26 January 2006, National Exhibition Centre, Birmingham</title>
	<meta name="Keywords" content="The Furniture Show, FSE" />
	<meta name="Description" content="The Furniture Show: 25-26 January 2006, National Exhibition Centre, Birmingham" />
	<meta name="Author" content="Paul Arnold" />
	<link rel="stylesheet" type="text/css" href="/content/css/portfolio/fs.css" media="all" />
	<link rel="stylesheet" type="text/css" href="/content/css/portfolio/fs-print.css" media="print" />
	<link rel="alternate stylesheet" type="text/css" href="/content/css/portfolio/fs-alternate.css" media="all" title="Furnishing Accessories" />
	<link rel="shortcut icon" href="/images/portfolio/fs/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/images/portfolio/fs/favicon.ico" type="image/x-icon" />
</head>

<body>

	<!-- CONTENTS	================================================================================================= -->
	<div id="contents" class="hidden">
		<h1>The Furniture Show</h1>
		<h2>22-26 January 2006, National Exhibition Centre (NEC), Birmingham</h2>
		<hr class="hidden" />
		<ul>
			<li><a href="/portfolio">Home Page</a></li>
			<li><a href="/portfolio">Main Content</a></li>
			<li><a href="/portfolio">Navigation</a></li>
			<li><a href="/portfolio">Footer</a></li>
		</ul>
	</div>
	<hr class="hidden" />

	<div id="container">

		<!-- HEADER		================================================================================================= -->
		<div id="header">
			<div id="leftImage"></div>
			<div id="siteLogo"><a href="/portfolio" class="blockLink" title="Click here to return to the home page"></a></div>
			<div id="adBanner"></div>

			<div id="menuTop">
				<h2>Exhibitors</h2>
				<ul>
					<li><a href="/portfolio">Why Exhibit</a></li>
					<li><a href="/portfolio">Visitor Profile</a></li>
					<li><a href="/portfolio">How to Exhibit</a></li>
					<li class="bottomRow"><a href="/portfolio">Who's Exhibiting</a></li>

					<li class="bottomRow"><a href="/portfolio">Sponsorship</a></li>
					<li class="bottomRow"><a href="/portfolio">Exhibitor Zone</a></li>
				</ul>
			</div>
		</div>
		<!-- / header -->
		<hr class="hidden" />

		<!-- BODY		================================================================================================= -->
		<div id="body">
			<div class="row">

				<div id="lBody">

					<div id="menuLeftTop" class="menu">
						<h2>Site Navigation</h2>
						<ul>
							<li><a href="/portfolio" title="Click here for more information about the show">About the Show</a></li>
							<li><a href="/portfolio" title="Click here for an overview of the show highlights">Show Highlights</a></li>
							<li><a href="/portfolio" title="Click here for a list of Frequently Asked Questions">FAQ</a></li>
							<li><a href="/portfolio" title="Click here for more information on how to get to the NEC">Getting There</a></li>
						</ul>
					</div>
					<!-- /menuLeftTop -->

					<div id="venue">
						<h2>Where &amp; When</h2>
						<h3>NEC Birmingham</h3>
						<dl>
							<dt>Sun 22 Jan 06</dt>
							<dd>9.00am - 6.00pm</dd>
							<dt>Mon 23 Jan 06</dt>
							<dd>9.00am - 6.00pm</dd>
							<dt>Tues 24 Jan 06</dt>
							<dd>9.00am - 6.00pm</dd>
							<dt>Wed 25 Jan 06</dt>
							<dd>9.00am - 6.00pm</dd>
						</dl>
					</div>
					<!-- / venue -->

					<div id="menuLeftBottom" class="menu">
						<h2>Travel and Accommodation</h2>
						<ul>
							<li class="row1"><a href="/portfolio" title="Click here to add the show details to your personal organiser">Add to my Diary</a></li>
							<li class="row2"><a href="/portfolio" title="Click here for more information about how to get to the NEC">Getting There</a></li>
							<li class="row3"><a href="/portfolio" title="Click here for information about bars and restaurants close to the NEC">Rest &amp; Relax</a></li>
						</ul>
					</div>
					<!-- / menuLeftBottom -->

				</div>
				<hr class="hidden" />

				<div id="cBody">
					<div id="mainContent">
						<noscript>
							<div class="error">
								<h4>You do not have scripting enabled on this browser!<span><a href="/portfolio" title="Click here to find out how to enable scripting on your browser">Help</a></span></h4>
							</div>
						</noscript>

						<h1>About the Show</h1>

						<p>The Furniture Show is the annual celebration of the best furniture and accessories on offer in the coming season and promises to inspire you with ideas for the coming year. Featuring the latest colours, themes and textures and presenting the very best mix of trends and styles you can be sure of the ultimate choice whatever your objectives.</p>
						<p>Incorporating Furnishing Accessories, the 2006 event offers you many of the leading manufacturers and suppliers of beds, cabinets, dining and living furniture, upholstery and accessories across every spectrum of the market.</p>
						<p>Attracting industry professionals from the worlds of retail, interior design, wholesale and distribution, development, leisure, import and export, agency and architecture from the UK and overseas, it provides an unrivalled opportunity to absorb the season's trends, make the best buying decisions, meet lots of new suppliers and catch up with old friends - an event not to be missed!</p>
						<p>The Furniture Show is part of The Interiors Event* - one of Europe's largest and most comprehensive interiors trade fairs, running from the <strong>22-25 January 2006</strong>, it comprises seven individual events over 18 halls. Offering you the best possible buying opportunity of the year, The Furniture Show and its sister events promises to be the best showcase yet, in other words, unmissable.</p>
						<p>* Your ticket for The Furniture Show provides you with free access to all parts of The Interiors Event, for more details, please visit <a href="/portfolio" target="_blank" title="Click here to go to the Interiors Event website">www.interiorsevent.com</a>.</p>

					</div>
					<!-- / mainContent -->

				</div>
				<!-- / cBody -->
				<hr class="hidden" />
				<div id="rBody">
					<div class="menu" id="contactUs">
						<h2>Contact Us</h2>
						<ul id="menuRight" class="menu">
							<li><a href="/portfolio" title="If you are a visitor to the show, click here to request more details on the event">Visitor Enquiry</a></li>

							<li><a href="/portfolio" title="If you are an exhibitor, click here to request more details on the event">Exhibitor Enquiry</a></li>
							<li><a href="/portfolio" title="If you are a journalist, click here to request more details on the event">Press Enquiry</a></li>
						</ul>
					</div>
					<div id="emailSubscribe">
						<h2>Email Subscribe</h2>
						<form action="/FurnitureShow/emailSubscribe.asp" method="post" name="frmEmailSubscribe" id="frmEmailSubscribe">

							<input name="EmailAddress" type="text" value="Your email address" onfocus="this.value=''" maxlength="100" class="text" /><br />
							<p>
								<input name="PrivacyPolicy" type="checkbox" value="Yes" class="checkbox" />
								I have read, understood and consent to your <a href="/portfolio" title="Click here for more information about our privacy policy">privacy policy</a>
							</p>
							<input name="Subject" type="hidden" value="Email Subscribe" />
							<input name="" type="submit" value="Add me in" class="button" />
						</form>
					</div>
					<div id="otherShows">

						<h2>About the Organisers</h2>
						<form action="" method="post" name="frmOtherShows" id="frmOtherShows">
							<select name="sites" onchange="selectLink(this.options[selectedIndex].value)">
								<option value="" selected="selected">Other Shows</option>
								<option value="http://www.furnishingaccessories.co.uk">Furnishing Accessories</option>
								<option value="http://www.collectionevent.co.uk">Collection Event</option>
								<option value="http://www.designinteriorsuk.co.uk">Design Interiors</option>

								<option value="http://www.softfurnishingsshow.co.uk">Soft Furnishings</option>
								<option value="http://www.thelightingshow.co.uk">The Lighting Show</option>
								<option value="http://www.kbb.co.uk">KBB</option>
								<option value="http://www.expotile.co.uk">Expotile</option>
							</select>
						</form>
					</div>

				</div>
				<!-- / rBody -->
			</div>
			<!-- / row -->
		</div>
		<!-- / body -->
		<hr class="hidden" />



		<!-- FOOTER		================================================================================================= -->
		<div id="footer" style="height: 47px;">
			<div id="lFooter">
				<a href="/portfolio" target="_blank" class="blockLink" title="Click here to go the Interiors Event website">Interiors Event</a>
			</div>
			<div id="rFooter">
				<a href="/portfolio" target="_blank" title="Click here for more information about CMP Information"></a>
			</div>
			<div id="cFooter">
				<div id="abc"><a href="/portfolio" target="_blank" class="blockLink" title="Click here to go the ABC Electronic website">ABC Electronic</a></div>
				<div id="edirectory"><a href="/portfolio" target="_blank" class="blockLink" title="Click here to go the e-directory website">The E-Directory</a></div>

				<p id="footerLinks">&copy; <a href="/portfolio" title="Click here for more information about CMP Information">CMP Information</a> | <a href="/portfolio" title="Click here for more information about cookies and our privacy policy">Privacy Policy</a></p>
			</div>
		</div>
		<!-- footer -->

	</div>
	<!-- / container -->


	@*<script language="javascript" type="text/javascript" src="/FurnitureShow/scripts/javascript/master.js"></script>*@

	<script language="javascript" type="text/javascript">
		var doc = document;
		if (doc.addEventListener) {
			var stylesheet = doc.querySelector('link');
			//if (sessionStorage.fsAlternate) {
			//	stylesheet.setAttribute('href', sessionStorage.fsAlternate);
			//}
			doc.body.addEventListener('click', function () {
				var cssLink = stylesheet.getAttribute('href') == '/content/css/portfolio/fs.css' ? '/content/css/portfolio/fs-alternate.css' : '/content/css/portfolio/fs.css';
				stylesheet.setAttribute('href', cssLink);
			}, false);
		}
	</script>

	@*<script language="javascript" type="text/javascript">
		var doc = document;
		var links = document.getElementsByTagName('A');
		for (var i = 0, len = links.length; i < len; i++) {

		}
		function blockLink() {
			alert('This link has been disabled. This page is an example page only.');
			return false;
		}
	</script>*@

</body>

</html>

