@{
	Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb" dir="ltr">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>Hepatitis C quiz - 2 | Terrence Higgins Trust</title>
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
	<meta name="Keywords" content="Terrence Higgins Trust, THT, quiz, hepatitis C, gay men, bisexual men, UK" />
	<meta name="Description" content="Terrence Higgins Trust Hepatitis C quiz for gay and bisexual men in the UK" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<link rel="stylesheet" href="~/content/css/portfolio/tht/hep-c-quiz.css" />
	<link rel="stylesheet" href="~/content/css/portfolio/tht/hep-c-quiz-mobile.css" media="screen and (max-width: 500px)" />

	<link rel="shortcut icon" href="~/images/portfolio/tht/favicon.ico" /> 

	<script>
		if (document.addEventListener) {
			addEventListener('DOMContentLoaded', function () { setTimeout(hideURLbar, 0); });
			function hideURLbar() { window.scrollTo(0, 1); }
		}
	</script>

	<!--[if lte IE 8]>
		<script type="text/javascript" src="/know-hep-c/scripts/html5shiv.js"></script>
		<script type="text/javascript" src="/know-hep-c/scripts/html5shiv-printshiv.min.js"></script>
	<![endif]-->

</head>
<body>

	<div class="page">
		<div>
			<header class="header" role="banner">
				<a class="logo" href="/portfolio">
					<img src="/images/portfolio/tht/terrence-higgins-logo.png" alt="Terrence Higgins Trust logo" />
				</a>
				<h1>Hepatitis C quiz</h1>
			</header>

			<main role="main">

				<noscript>
					<div class="alert error compact">
						<h4>JavaScript has been disabled on your browser</h4>
						<p>This site uses JavaScript and you will need to enable JavaScript on your browser to use all its features.</p>
					</div>
				</noscript>

				<section class="quiz q2">
					<form action="/portfolio" method="post">
						<fieldset>
							<legend class="title"><span>Most people who get hepatitis C:</span></legend>
							<div class="alert error">
								<h4>Error</h4>
								<p>You need to select one of the options below.</p>
							</div>
							<ul class="radio threeCol">
								<li>
									<div class="content">
										<input type="radio" id="infected-a" name="infected" value="0" required="required" /><label for="infected-a" class="text">Fight it off and don't suffer lasting liver damage.</label>
									</div>
								</li>
								<li>
									<div class="content">
										<input type="radio" id="infected-b" name="infected" value="1" /><label for="infected-b" class="text">Stay infectious and are at risk of serious liver disease.</label>
									</div>
								</li>
								<li class="last">
									<div class="content">
										<input type="radio" id="infected-c" name="infected" value="0" /><label for="infected-c" class="text">Quickly notice symptoms and soon get seriously ill.</label>
									</div>
								</li>
							</ul>
						</fieldset>
						<button class="next">Next</button>
					</form>
					<footer class="pageFooter">
						<div>
							<ol class="pager">
								<li>1</li>
								<li class="selected">2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
								<li>7</li>
								<li>8</li>
								<li>9</li>
								<li>10</li>
							</ol>
						</div>
					</footer>
				</section>

			</main>
		</div>
	</div>

	<footer class="footer" role="contentinfo">
		<nav class="nav">
			<ul>
				<li><a href="/portfolio">Terms &amp; conditions</a></li>
				<li><a href="/portfolio">Privacy &amp; cookies</a></li>
				<li><a href="/portfolio">Get support</a></li>
			</ul>
		</nav>
		<p>
			The content on this site was last reviewed on: <time datetime="2014-05-16">16/05/2014</time><br />
			Date due for next review: <time datetime="2015-05-16">16/05/2015</time>
		</p>
		<a href="/portfolio"><img class="info-logo" src="/images/portfolio/tht/information-standard-logo.png" width="100" height="54" alt="The Information Standard: certified member" /></a>
		<small>
			Copyright 2014 &copy;Terrence Higgins Trust is a registered charity in England and Wales (reg. no. 288527)<br />
			Company reg. no. 1778149 and a registered charity in Scotland (reg. no. SC039986)
		</small>
	</footer>

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/know-hep-c/scripts/hep-c-quiz.js"></script>

	<!--[if lte IE 8]>
		<script type="text/javascript" src="/know-hep-c/scripts/hep-c-quiz-ie8.js"></script>
	<![endif]-->

</body>
</html>


