@{
    Layout = null;
}


<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>
	Online Portfolio - Paul Arnold
</title>
<style type="text/css">
/*<![CDATA[*/

/* TEXT			========================================================================================================================*/
body, p, td, textarea, input, select {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	line-height: normal;
	text-align: left;
	word-spacing: normal;
}

body{
	font-size: 0.8em;
}

input, textarea, select {
	font-size: 1em;
}


h1 {
	font-size: 1.2em;
	font-style: normal;
	font-variant: normal;
	margin-bottom: inherit;
	margin-top: inherit;
	text-transform: none;
	background-color: #DBED99;
	background-color: #FFFFFF;
	background-color: #C9E755;
	color: #FFFFFF;
	padding: 0.5em 10px;
	border-bottom: 5px solid #DBED99;
	border-top: 5px solid #DBED99;
}

h1:first-child {
	margin-top: 0;
}

h2 {
	font-size: 1.05em;
	clear: both;
	border-top: 1px solid #1F6DA4;
	border-bottom: 1px solid #1F6DA4;
	padding: 0.3em 10px;
	background-color: #F6F6F6;
	color: #066FA9;
}

h3 {
	font-size: 1em;
	color: #003366;
}

h4 {
	font-size: 1em;
}

a {
	color: #009900;
	text-decoration: underline;
}

a:focus, a:hover {
	color: #0066CC;
	text-decoration: none;
}

a:active {

}

img {
	border: 1px solid #000000;
}

body {
	margin: 10px;
	padding: 0;
}

#container {
	width: 78.1em;
	margin: 0 auto;
	border: 1px solid #1F6DA4;
	padding: 10px;
}

div.box {
	clear: both;
	height: 7em;
	margin-bottom: 1em;
	min-height: 100px;
}

div.box * {
	margin: 0;
	padding: 0;
}

div.box img {
	float: left;
}

div.box h3, div.box h4, div.box p {
	margin-left: 210px;
}

div.box p {
	clear: right;
	margin-bottom: 0.4em;
	text-align: justify;
}

/* links to external sites */
p > a[href^="http"], li > a[href^="http"], h4 > a[href^="http"]
{
	background: url(/images/portfolio/icon_external.png) center right no-repeat;
	padding-right: 13px;
}

/*]]>*/ 
</style>


</head>

<body>

<div id="container">
<h1>Paul Arnold: Front-End Coding Examples</h1>

<h2>Global Beach, London</h2>
<div class="box">
	<a href="/portfolio/hep-c-quiz" title="Click here to visit the THT Hepatitis C Quiz"><img src="/images/portfolio/tht.png" width="200" height="100" alt="THT Hepatitis C Quiz" /></a>
	<h3>THT Hepatitis C Quiz</h3>
	<h4><a href="/portfolio/hep-c-quiz" title="Click here to visit the THT Hepatitis C Quiz">THT Hepatitis C Quiz sample</a></h4>
	<p>A responsive site, written in HTML5.</p>
</div>

<h2>TANK Magazine, London</h2>
<div class="box">
	<a href="http://baraboux.com" title="Click here to visit the Baraboux site" target="_blank"><img src="/images/portfolio/bbx.png" width="200" height="100" alt="Baraboux website" /></a>
	<h3>Baraboux</h3>
	<h4><a href="http://baraboux.com" title="Click here to visit the Baraboux site" target="_blank">baraboux.com</a></h4>
	<p>Hand-coded all the front-end and back-end code using: ASP.NET 4.5, C#, Umbraco <acronym title="Content Management System">CMS</acronym>, HTML5, CSS, XML, XSLT, JavaScript, jQuery.</p>
	<p>The site is coded in HTML5, is W3C compliant and supports IE 8+, Firefox 4+, et al.</p>
</div>

<div class="box">
	<a href="/portfolio/because" title="Click here to visit the Because site"><img src="/images/portfolio/because.png" width="200" height="100" alt="Because website" /></a>
	<h3>Because Magazine Mobile</h3>
	<h4><a href="/portfolio/because" title="Click here to visit the Because site">Because Magazine sample (1 page, phone only)</a></h4>
	<p>Phone only. Hand-coded all the front-end and back-end code using: ASP.NET 4.5, C#, Umbraco <acronym title="Content Management System">CMS</acronym>, HTML5, CSS, XML, XSLT, JavaScript, jQuery.</p>
</div>

<div class="box">
	<a href="http://tankform.com/email" title="Click here to visit the email editor" target="_blank"><img src="/images/portfolio/email.png" width="200" height="100" alt="Email editor" /></a>
	<h3>Email Editor</h3>
	<h4><a href="http://tankform.com/email" title="Click here to visit the email editor" target="_blank">Email Editor demo page</a></h4>
	<p>Uses HTML5 to create a <acronym title="What You See is What You Get">WYSIWYG</acronym> email newsletter editor. The user can edit text inline, drag-and-drop images from their desktop, etc. and then save it as an <acronym title="Hypertext Markup Language">HTML</acronym> file, which can then be uploaded to an email marketing service, such as MailChimp. The idea was to keep it simple, easy-to-use and allow users to view and edit everything without having to leave the page. (Tested to work in the latest versions of Firefox and Chrome only.)</p>
</div>

<h2>Northamber, Chessington, Surrey</h2>
<div class="box">
	<a href="/portfolio/northamber" title="Click here to visit the Northamber site"><img src="/images/portfolio/nmb.png" width="200" height="100" alt="Northamber website" /></a>
	<h3>Northamber</h3>
	<h4><a href="/portfolio/northamber" title="Click here to visit the Northamber site">Northamber sample (4 pages)</a></h4>
	<p>Hand-coded all the front-end and back-end code using: ASP.NET 4.0, C#, XHTML 1.0 Strict, CSS, XML, XSLT, JavaScript, jQuery, AJAX, T-SQL with SQL Server 2005 and Regular Expressions.</p>
	<p>The site is hand-coded in XHTML 1.0 Strict, is W3C compliant and supports IE 6+, Firefox 2+, et al.</p>
</div>

@*<div class="box">
	<a href="NMB/" title="Click here to visit the Northamber site"><img src="/images/portfolio/nmb2.png" width="200" height="100" alt="Northamber website" /></a>
	<h3>Northamber</h3>
	<h4><a href="NMB/" title="Click here to visit the Northamber site">Northamber sample (3 pages)</a></h4>
	<p>Hand-coded all the front-end and back-end code using: ASP.NET 2.0-3.5, VB.NET, XHTML, CSS, XML, XSLT, JavaScript, T-SQL with SQL Server 2005 and Regular Expressions.</p>
	<p>The site is coded in XHTML 1.0 Transitional, is W3C compliant and supports IE 6+, Firefox 2+, et al. It uses media queries to give the site a flexi-width from 1000px to 1280px wide.</p>
</div>*@

<h2>CMP Information, Blackfriars, London</h2>
<div class="box">
	<a href="/portfolio/fse" title="Click here to visit the FSE Online site"><img src="/images/portfolio/fse.gif" width="200" height="100" alt="FSE Online website" /></a>
	<h3>FSE Online / Cabinet Maker</h3>
	<h4><a href="/portfolio/fse" title="Click here to visit the FSE Online site">FSE Online / Cabinet Maker sample (1 page with alternate style sheet)</a></h4>
	<p>The Fire Safety Engineering and Cabinet Maker websites were built using the same HTML. The only difference was that they pulled up different sets of data and used different stylesheets.</p>
	<p>Hand-coded, using ASP, XHTML 1.0 Transitional, CSS and JavaScript. Uses stored procedures to pull up information from an SQL Server 2000 database. The site is W3C compliant. Supports IE 5+, Firefox 1+, et al.</p>
</div>

@*<div class="box">
	<a href="/portfolio/cabinet-maker" title="Click here to visit the Cabinet Maker site"><img src="/images/portfolio/cm.gif" width="200" height="100" alt="Cabinet Maker website" /></a>
	<h3>Cabinet Maker</h3>
	<h4><a href="/portfolio/cabinet-maker" title="Click here to visit the Cabinet Maker site">Cabinet Maker sample (1 page with alternate style sheet)</a></h4>
	<p>Cabinet Maker online magazine. Uses  exactly the same XHTML as FSE Online, but is linked to a different style sheet and pulls up a different set of data. Supports IE 5+, Firefox 1+, et al.</p>
</div>*@

<div class="box">
	<a href="/portfolio/furniture-show" title="Click here to visit the The Furniture Show site"><img src="/images/portfolio/fs.gif" width="200" height="100" alt="The Furniture Show website" /></a>
	<h3>The Furniture Show</h3>
	<h4><a href="/portfolio/furniture-show" title="Click here to visit the The Furniture Show site">The Furniture Show sample (1 page with alternate style sheet)</a></h4>
	<p>Exhibition website for The Furniture Show. Hand-coded all the ASP, XHTML 1.0 Transitional, CSS and JavaScript. The site is W3C compliant. Supports IE 5+, Firefox 1+, et al.</p>
</div>

@*<h2>General Practice Lasers</h2>
<div class="box">
	<a href="http://www.gplasers.co.uk" title="Click here to visit the General Practice Lasers site" target="_blank"><img src="/images/portfolio/gpl.png" width="200" height="100" alt="General Practice Lasers website" /></a>
	<h3>General Practice Lasers</h3>
	<h4><a href="http://www.gplasers.co.uk" title="Click here to visit the General Practice Lasers site" target="_blank">www.gplasers.co.uk</a></h4>
	<p>Hand-coded all the front-end and back-end coding using: ASP, XHTML, CSS and JavaScript. The site is W3C compliant.</p>
</div>*@


</div>
  
</body>
</html>

