@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lunar New Year Offers | InterContinental Kuala Lumpur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/content/css/portfolio/intercontinental/wallet.css" />
    <link rel="shortcut icon" href="~/content/css/portfolio/intercontinental/images/favicon.png" />
    <link rel="icon" type="image/png" href="~/content/css/portfolio/intercontinental/images/favicon.png" sizes="32x32" />
</head>
<body class="page-index">
    <div class="page-container">
        <div class="page">
            <header class="page-header">
                <a class="logo" href="/portfolio">
                    <img src="~/content/css/portfolio/intercontinental/images/intercontinental-logo.png" srcset="~/content/css/portfolio/intercontinental/images/intercontinental-logo.png 1x, ~/content/css/portfolio/intercontinental/images/2x/intercontinental-logo.png 2x" alt="InterContinental Kuala Lumper logo" width="200" height="77" />
                </a>
            </header>
            <main>
                <h1 class="page-title"><img src="~/content/css/portfolio/intercontinental/images/title.png" srcset="~/content/css/portfolio/intercontinental/images/title.png 1x, ~/content/css/portfolio/intercontinental/images/2x/title.png 2x" alt="Usher in the Lunar New Year with a wealth of culinary treasures" /></h1>
                <p class="intro-text">
                    Spring into the Lunar New year on a prosperous note at InterContinental Kuala Lumpur,
                    where a series of fortune offers await you. Your New Year experience with us will be
                    an unforgettably vibrant one.
                </p>
                <a class="fortune-link" href="/portfolio/intercontinental-fortune" title="Your fortune awaits!">Click here!</a>
            </main>
            <footer class="page-footer">
                <ul class="share-links">
                    <li>
                        <a href="https://www.facebook.com/intercontinental.kualalumpur" title="Facebook" target="_blank"><img src="~/content/css/portfolio/intercontinental/images/facebook.png" srcset="~/content/css/portfolio/intercontinental/images/facebook.png 1x, ~/content/css/portfolio/intercontinental/images/2x/facebook.png 2x" alt="Facebook" width="40" height="40" /></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/interconkl" title="Twitter" target="_blank"><img src="~/content/css/portfolio/intercontinental/images/twitter.png" srcset="~/content/css/portfolio/intercontinental/images/twitter.png 1x, ~/content/css/portfolio/intercontinental/images/2x/twitter.png 2x" alt="Twitter" width="40" height="40" /></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/intercontinental.kualalumpur" title="Instagram" target="_blank"><img src="~/content/css/portfolio/intercontinental/images/instagram.png" srcset="~/content/css/portfolio/intercontinental/images/instagram.png 1x, ~/content/css/portfolio/intercontinental/images/2x/instagram.png 2x" alt="Instagram" width="40" height="40" /></a>
                    </li>
                </ul>
                <div>#intercontinentaltalkfortune</div>
                <ul class="contact-links">
                    <li><a href="mailto:info@intercontinental-kl.com.my">info@intercontinental-kl.com.my</a></li>
                    <li>Tel: <a href="tel:+60327826000">+60 (3) 2782 6000</a></li>
                    <li><a href="http://intercontinental-kl.com.my" target="_blank">intercontinental-kl.com.my</a></li>
                </ul>
            </footer>
        </div>
    </div>
</body>
</html>
