@{
	Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" dir="ltr">
<head id="Head1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Northamber | Login</title>
	<meta name="Keywords" content="northamber, it wholesaler, wholesale, server, computer, trade only, it trade, reseller, trade" />
	<meta name="Description" content="Northamber PLC - The UK&#39;s longest established trade only distributor of IT equipment" />
	<meta name="Author" content="Paul Arnold" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link type="text/css" rel="stylesheet" href="/content/css/portfolio/nmb.css" media="all" />

	<!--[if lte IE 7]>
		<link type="text/css" rel="stylesheet" href="/content/css/portfolio/nmb_IE7.css" />
	<![endif]-->
	<!--[if lte IE 6]>
		<link type="text/css" rel="stylesheet" href="/content/css/portfolio/nmb_IE6.css" />
	<![endif]-->

	<link rel="shortcut icon" href="/images/portfolio/nmb/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/images/portfolio/nmb/favicon.ico" type="image/x-icon" />

	@*<style type="text/css">
		/*<![CDATA[*/
		#splashImg {
			display: block;
			margin: 0 auto;
		}

		.basic #loginBox {
			left: auto;
			top: 20px;
			right: 20px;
		}

		/*]]>*/
	</style>*@

</head>
<body>

	<div id="accessibilityLinks">
		<h4>Accessibility Links</h4>
		<ul>
			<li><a href="/portfolio/northamber-contact" title="Click here to go to the home page" accesskey="1">Home page</a> (Access key = 1)</li>
			<li><a href="#pageContent" title="Click here to skip to the main content of the current page" accesskey="2">Skip to content</a> (Access key = 2)</li>
			<li><a href="#navigation" title="Click here to skip to the main site navigation menu">Skip to navigation</a></li>
			<li><a href="#search" title="Click here to skip to the main site search form">Skip to Northamber's search form</a> (Access key = 4)</li>
			<li><a href="/portfolio/northamber-contact" title="Click here for a map of this site" accesskey="3">Site Map</a> (Access key = 3)</li>
			<li><a href="/portfolio/northamber-contact" title="Click here to find out how to use Access Keys within this site" accesskey="0">Access keys help</a> (Access key = 0)</li>
		</ul>
	</div>
	<div id="page">

		<div id="header">

			<h1 id="siteLogo"><a href="/portfolio/northamber-contact" title="Click here to go to the Northamber home page">Northamber</a></h1>
			<h2 id="siteSlogan">Your Trade-Only I.T. Distributor</h2>

			<form id="mainSearch" class="searchForm" action="/portfolio/northamber-productlist" method="get" onsubmit="return validateForm(this,false,'search','search,SearchTerm')">
				<fieldset>
					<label for="search">Search</label>
					<input id="search" name="ft" type="text" maxlength="100" accesskey="4" onkeyup="suggest(this,'search',event)" />
					<input id="searchButton" type="image" src="/images/portfolio/nmb/bullet.png" value="Go" />
				</fieldset>
			</form>

		</div>


		<div id="menuBar">
			<div id="menuBkgd">
				<div id="menu">
					<ul>
						<li>
							<a href="#">
								<span>Desktop PCs</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Desktop PCs</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Barebone PCs</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Servers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Cases &amp; Blade Centres</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Motherboards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Processor Upgrades</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Video Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Sound Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Internal Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Port Expansion</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>UPS &amp; Power Devices</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>System &amp; Power Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Desktop PC &amp; Server Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>System Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Notebooks</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Notebooks</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Handhelds</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Netbooks</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Handheld Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Tablet PCs</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Carrying Cases</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Notebook Batteries</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>2.5" Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Notebook Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>External Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Notebook &amp; Tablet PC Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Docking Stations &amp; Port Replicators</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="multi">Storage &amp; Memory</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>RAM</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Flash Memory</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Read-Only Memory (ROM)</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Memory Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>CD &amp; DVD Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Tape Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Network Storage</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Removable Media</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Storage Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Storage Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Storage Enclosures &amp; RAID Arrays</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Storage Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Storage Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="multi">Monitors &amp; Projectors</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Monitors</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Projectors</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Monitor Stands &amp; Mounts</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Projector Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Monitor Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Projector Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Monitor Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Monitor &amp; Projector Cables</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="multi">Printers &amp; Scanners</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Printers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Scanners</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Printer Consumables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Scanner accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Printer Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Multifunction &amp; Office Machines</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Printer Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Bar Code Readers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Printer &amp; Scanner Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Barcode Reader &amp; POS Accessories</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Networking</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Modems</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>PC &amp; Network Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Concentrators &amp; Multiplexers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Repeaters &amp; Transceivers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Hubs &amp; Switches</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Bridges &amp; Routers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Network Devices</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Network Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Network Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Network Storage</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Network Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Network Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Telephones</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Audio &amp; Video</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Camcorders &amp; Digital Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>PC &amp; Network Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Digital AV Players &amp; Recorders</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Monitors</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Portable Audio</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Speakers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>AV Furniture</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Headsets &amp; Microphones</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Video Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Sound Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>AV Blank Media</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Camera &amp; Game Console Cases</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Remote Controls</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Power Devices &amp; Batteries</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>AV Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>AV Accessories</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>PC Accessories</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Keyboards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Keyboard &amp; Mouse Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Keyboard &amp; USB Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Mice, Stylus &amp; Pointing Devices</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Game Controllers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>PC &amp; Network Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Headsets &amp; Microphones</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>External Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>USB Flash Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Video Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Sound Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Input Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Input Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Software</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Operating Systems</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Applications</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-contact">
										<span>Software Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="topBar">

			<h1>Welcome to northamber.com</h1>

			<div id="topBarLinks">
				<ul id="mainLinks">
					<li><a href="/portfolio/northamber-contact">Home</a></li>
					<li>| <a href="/portfolio/northamber-contact">Vendor List</a></li>
					<li>| <a href="/portfolio/northamber-contact">My Account</a></li>
					<li>| <a href="/portfolio/northamber-contact">Contact Us</a></li>
					<li>| <a href="/portfolio/northamber-contact">Help</a></li>
					<li>| <a href="/portfolio/northamber-contact">Sign In</a></li>
				</ul>

				<div id="contactLinks">
					<a href="/portfolio/northamber-contact" title="Click here to subscribe to Northamber's RSS feed">
						<img src="/images/portfolio/nmb/btn_rss.png" width="23" height="23" alt="RSS" /></a><a href="/portfolio/northamber-contact" onclick="this.newWindow = window.open('http://chat.boldcenter.com/aid/5107021924717403814/bc.chat?url=' + document.location, 'Chat', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');this.newWindow.focus();this.newWindow.opener=window;return false;" title="Click here to start a text chat with an operator"><img src="/images/portfolio/nmb/btn_chat.png" width="23" height="23" alt="Text Chat" /></a><a href="/portfolio/northamber-contact" onclick="return skypeCheck();" title="Click here to make a Skype call to an operator"><img src="/images/portfolio/nmb/btn_skype.png" alt="Skype" height="23" width="23" /></a>
				</div>

			</div>

		</div>

		<div id="body">
			<div id="pageContent" class="basic">
				<noscript>
					<div class="alert warning compact">
						<h4>You do not have JavaScript enabled on this browser!</h4>
						<p><a href="/portfolio/northamber-contact">Click here for more info</a>.</p>
					</div>
				</noscript>

				<form method="post" action="/portfolio/northamber-contact" id="ctl00">

					<div id="PageContent_LoginForm_ValidationSummary" class="alert failure" style="display: none;">
					</div>

					<div id="loginBox">
						<fieldset class="box">
							<h2>Customer Login</h2>

							<div id="login">

								<label for="PageContent_LoginForm_UserName" id="PageContent_LoginForm_UserNameLabel">Username</label>

								<span id="PageContent_LoginForm_UserNameRequired" title="User Name is required." style="display: none;">*</span>

								<input name="ctl00$PageContent$LoginForm$UserName" type="text" maxlength="150" id="PageContent_LoginForm_UserName" />

								<label for="PageContent_LoginForm_Password" id="PageContent_LoginForm_PasswordLabel">Password</label>

								<span id="PageContent_LoginForm_PasswordRequired" title="Password is required." style="display: none;">*</span>

								<input name="ctl00$PageContent$LoginForm$Password" type="password" maxlength="30" id="PageContent_LoginForm_Password" />

								<div id="rememberMe">
									<input id="PageContent_LoginForm_RememberMe" type="checkbox" name="ctl00$PageContent$LoginForm$RememberMe" /><label for="PageContent_LoginForm_RememberMe">Save details</label>
								</div>

								<div class="button">
									<input type="image" name="ctl00$PageContent$LoginForm$Submit" id="PageContent_LoginForm_Submit" src="/images/portfolio/nmb/btn_login.png" alt="Log In" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$PageContent$LoginForm$Submit&quot;, &quot;&quot;, true, &quot;Login&quot;, &quot;&quot;, false, false))" />
								</div>

								<p id="passwordRequest"><a href="/portfolio/northamber-contact">Forgotten your password?</a></p>

							</div>

						</fieldset>

						<ul id="applicationLinks" class="logoLinks">
							<li><a href="/portfolio/northamber-contact">Apply for<br />
								Web Access</a></li>
							<li class="trade"><a href="/portfolio/northamber-contact">Apply for a<br />
								Trade Account</a></li>
						</ul>
					</div>

					<img id="splashImg" src="/images/portfolio/nmb/splashpage.jpg" alt="Sitecom" width="988" height="648" usemap="#map" />

					<map id="map" name="map">
						<area shape="rect" coords="37,240,135,265" href="/portfolio/northamber-contact" alt="Link to Sitecom page" />
					</map>

				</form>
			</div>
		</div>

		<div id="footer">
			<div id="footerLinks">
				<ul>
					<li><a href="/portfolio/northamber-contact">Home</a> | </li>
					<li><a href="/portfolio/northamber-contact">Site Map</a> | </li>
					<li><a href="/portfolio/northamber-contact">Terms &amp; Conditions</a> | </li>
					<li><a href="/portfolio/northamber-contact">Returns</a> | </li>
					<li><a href="/portfolio/northamber-contact">Export Information</a> | </li>
					<li><a href="/portfolio/northamber-contact">Investor Relations</a> | </li>
					<li><a href="/portfolio/northamber-contact">About Us</a> | </li>
					<li><a href="/portfolio/northamber-contact">Contact Us</a> | </li>
					<li><a href="/portfolio/northamber-contact">Help</a></li>
				</ul>
			</div>

			<div id="smallPrint">
				<p>&copy; Northamber MMXIII. <acronym title="Errors and Omissions Excepted">E&amp;OE</acronym>. All prices exclude <acronym title="Value Added Tax">VAT</acronym>&amp; carriage. All trademarks acknowledged.</p>
				<p>Phone calls may be recorded for quality assurance and staff training purposes.</p>
				<p>All the product information is provided by a third party and shown in good faith as correct.</p>
				<p>Under the Companies Act (Trading Disclosures) Regulations 2008, Northamber <acronym title="Public Limited Company">PLC</acronym>is the registered trading name of Northamber <acronym title="Public Limited Company">PLC</acronym>.</p>
			</div>

		</div>
	</div>

	<script type="text/javascript" src="/scripts/portfolio/nmb.js"></script>

	<!--[if lte IE 6]>
		<script type="text/javascript" src="/scripts/portfolio/nmb_ie.js"></script>
	<![endif]-->

	<script type="text/javascript">
		//<![CDATA[

		$(function () {
			toggleUnorderedList('vendorList', 9);
		});

		//]]>
	</script>

</body>
</html>

