@{
	Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Northamber - The UK's longest established trade-only distributor of I.T. equipment</title>
	<meta name="Keywords" content="northamber, it wholesaler, wholesale, server, computer, trade only, it trade, reseller, trade" />
	<meta name="Description" content="Northamber PLC - The UK&#39;s longest established trade only distributor of IT equipment" />
	<meta name="Author" content="Paul Arnold" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link type="text/css" rel="stylesheet" href="/content/css/portfolio/nmb.css" media="all" />

	<!--[if lte IE 7]>
		<link type="text/css" rel="stylesheet" href="/content/css/portfolio/nmb_IE7.css" />
	<![endif]-->
	<!--[if lte IE 6]>
		<link type="text/css" rel="stylesheet" href="/content/css/portfolio/nmb_IE6.css" />
	<![endif]-->

	<link rel="shortcut icon" href="/images/portfolio/nmb/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/images/portfolio/nmb/favicon.ico" type="image/x-icon" />

</head>
<body>

	<div id="accessibilityLinks">
		<h4>Accessibility Links</h4>
		<ul>
			<li><a href="/portfolio/northamber-login" title="Click here to go to the home page" accesskey="1">Home page</a> (Access key = 1)</li>
			<li><a href="#pageContent" title="Click here to skip to the main content of the current page" accesskey="2">Skip to content</a> (Access key = 2)</li>
			<li><a href="#navigation" title="Click here to skip to the main site navigation menu">Skip to navigation</a></li>
			<li><a href="#search" title="Click here to skip to the main site search form">Skip to Northamber's search form</a> (Access key = 4)</li>
			<li><a href="/portfolio/northamber-login" title="Click here for a map of this site" accesskey="3">Site Map</a> (Access key = 3)</li>
			<li><a href="/portfolio/northamber-login" title="Click here to find out how to use Access Keys within this site" accesskey="0">Access keys help</a> (Access key = 0)</li>
		</ul>
	</div>
	<div id="page">

		<div id="header">

			<h1 id="siteLogo"><a href="/portfolio/northamber-login" title="Click here to go to the Northamber home page">Northamber</a></h1>
			<h2 id="siteSlogan">Your Trade-Only I.T. Distributor</h2>

			<form id="mainSearch" class="searchForm" action="/PaulArnold/Portfolio/NMB2/Products/ProductList.aspx" method="get" onsubmit="return validateForm(this,false,'search','search,SearchTerm')">
				<fieldset>

					<label for="search">Search</label>

					<input id="search" name="ft" type="text" maxlength="100" accesskey="4" onkeyup="suggest(this,'search',event)" />
					<input id="searchButton" type="image" src="/images/portfolio/nmb/bullet.png" value="Go" />

				</fieldset>
			</form>

		</div>


		<div id="menuBar">
			<div id="menuBkgd">
				<div id="menu">
					<ul>
						<li>
							<a href="#">
								<span>Desktop PCs</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Desktop PCs</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Barebone PCs</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Servers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Cases &amp; Blade Centres</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Motherboards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Processor Upgrades</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Video Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Sound Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Internal Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Port Expansion</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>UPS &amp; Power Devices</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>System &amp; Power Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Desktop PC &amp; Server Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>System Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Notebooks</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Notebooks</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Handhelds</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Netbooks</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Handheld Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Tablet PCs</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Carrying Cases</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Notebook Batteries</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>2.5" Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Notebook Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>External Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Notebook &amp; Tablet PC Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Docking Stations &amp; Port Replicators</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="multi">Storage &amp; Memory</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-login">
										<span>RAM</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Flash Memory</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Read-Only Memory (ROM)</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Memory Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>CD &amp; DVD Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Tape Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Network Storage</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Removable Media</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Storage Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Storage Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Storage Enclosures &amp; RAID Arrays</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Storage Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Storage Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="multi">Monitors &amp; Projectors</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Monitors</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Projectors</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Monitor Stands &amp; Mounts</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Projector Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Monitor Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Projector Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Monitor Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Monitor &amp; Projector Cables</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="multi">Printers &amp; Scanners</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Printers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Scanners</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Printer Consumables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Scanner accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Printer Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Multifunction &amp; Office Machines</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Printer Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Bar Code Readers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Printer &amp; Scanner Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Barcode Reader &amp; POS Accessories</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Networking</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Modems</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>PC &amp; Network Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Concentrators &amp; Multiplexers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Repeaters &amp; Transceivers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Hubs &amp; Switches</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Bridges &amp; Routers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Network Devices</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Network Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Network Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Network Storage</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Network Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Network Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Telephones</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Audio &amp; Video</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Camcorders &amp; Digital Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>PC &amp; Network Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Digital AV Players &amp; Recorders</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Monitors</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Portable Audio</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Speakers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>AV Furniture</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Headsets &amp; Microphones</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Video Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Sound Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>AV Blank Media</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Camera &amp; Game Console Cases</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Remote Controls</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Power Devices &amp; Batteries</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>AV Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>AV Accessories</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>PC Accessories</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Keyboards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Keyboard &amp; Mouse Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Keyboard &amp; USB Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Mice, Stylus &amp; Pointing Devices</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Game Controllers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>PC &amp; Network Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Headsets &amp; Microphones</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>External Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>USB Flash Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Video Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Sound Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Input Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Input Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Software</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Operating Systems</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Applications</span>
									</a>
								</li>
								<li>
									<a href="/portfolio/northamber-login">
										<span>Software Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="topBar">

			<h1>Welcome to northamber.com</h1>





			<div id="topBarLinks">
				<ul id="mainLinks">
					<li><a href="/portfolio/northamber-login">Home</a></li>
					<li>| <a href="/portfolio/northamber-login">Vendor List</a></li>


					<li>| <a href="/portfolio/northamber-login">My Account</a></li>


					<li>| <a href="/portfolio/northamber-login">Contact Us</a></li>
					<li>| <a href="/portfolio/northamber-login">Help</a></li>
					<li>| <a href="/portfolio/northamber-login">Sign In</a></li>
				</ul>

				<div id="contactLinks">
					<a href="/portfolio/northamber-login" title="Click here to subscribe to Northamber's RSS feed">
						<img src="/images/portfolio/nmb/btn_rss.png" width="23" height="23" alt="RSS" /></a><a href="/portfolio/northamber-login" onclick="this.newWindow = window.open('http://chat.boldcenter.com/aid/5107021924717403814/bc.chat?url=' + document.location, 'Chat', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');this.newWindow.focus();this.newWindow.opener=window;return false;" title="Click here to start a text chat with an operator"><img src="/images/portfolio/nmb/btn_chat.png" width="23" height="23" alt="Text Chat" /></a><a href="/portfolio/northamber-login" title="Click here to make a Skype call to an operator"><img src="/images/portfolio/nmb/btn_skype.png" alt="Skype" height="23" width="23" /></a>
				</div>

			</div>

		</div>

		<div id="body">
			<div id="bodyRow">




				<div id="lCol">
					<div id="lColContent">



						<div id="navigation" class="box">
							<h2>Product Range</h2>
							<ul class="menu">
								<li>
									<a href="#">
										<span>Desktop PCs</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Desktop PCs</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Servers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Motherboards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Video Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Internal Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>UPS &amp; Power Devices</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Desktop PC &amp; Server Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Barebone PCs</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Cases &amp; Blade Centres</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Processor Upgrades</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Sound Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Port Expansion</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>System &amp; Power Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>System Service &amp; Support</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Notebooks</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Notebooks</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Netbooks</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Tablet PCs</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Notebook Batteries</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Notebook Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Notebook &amp; Tablet PC Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Handhelds</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Handheld Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Carrying Cases</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>2.5" Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>External Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Docking Stations &amp; Port Replicators</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Storage &amp; Memory</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio/northamber-login">
												<span>RAM</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Read-Only Memory (ROM)</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Tape Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Removable Media</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Storage Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Storage Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Flash Memory</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Memory Adapters</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>CD &amp; DVD Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Network Storage</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Storage Adapters</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Storage Enclosures &amp; RAID Arrays</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Storage Service &amp; Support</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" title="Monitors &amp; Projectors">
										<span>Monitors &amp; Proje…</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Monitors</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Monitor Stands &amp; Mounts</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Monitor Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Monitor Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Projectors</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Projector Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Projector Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Monitor &amp; Projector Cables</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Printers &amp; Scanners</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Printers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Printer Consumables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Printer Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Printer Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Printer &amp; Scanner Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Scanners</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Scanner accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Multifunction &amp; Office Machines</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Bar Code Readers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Barcode Reader &amp; POS Accessories</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Networking</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Modems</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Concentrators &amp; Multiplexers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Hubs &amp; Switches</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Network Devices</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Network Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Network Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Telephones</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>PC &amp; Network Cameras</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Repeaters &amp; Transceivers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Bridges &amp; Routers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Network Adapters</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Network Storage</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Network Service &amp; Support</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Audio &amp; Video</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Camcorders &amp; Digital Cameras</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Digital AV Players &amp; Recorders</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Portable Audio</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>AV Furniture</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Video Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>AV Blank Media</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Remote Controls</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>AV Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>PC &amp; Network Cameras</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Monitors</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Speakers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Headsets &amp; Microphones</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Sound Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Camera &amp; Game Console Cases</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Power Devices &amp; Batteries</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>AV Accessories</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>PC Accessories</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Keyboards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Keyboard &amp; USB Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Game Controllers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Headsets &amp; Microphones</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>USB Flash Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Sound Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Input Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Keyboard &amp; Mouse Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Mice, Stylus &amp; Pointing Devices</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>PC &amp; Network Cameras</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>External Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Video Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Input Adapters</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Software</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Operating Systems</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Software Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio/northamber-login">
												<span>Applications</span>
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>


						<ul id="configLinks" class="logoLinks">
							<li class="laptopBag"><a href="/portfolio/northamber-login">Dicota<br />
								Notebook Cases</a></li>
							<li class="memory"><a href="/portfolio/northamber-login">Kingston Memory</a></li>
							<li class="memory"><a href="/portfolio/northamber-login">Crucial Memory</a></li>
							<li class="ups"><a href="/portfolio/northamber-login">Eaton <acronym title="Uninterruptible Power Supply">UPS</acronym></a></li>
							<li class="ups"><a href="/portfolio/northamber-login">APC <acronym title="Uninterruptible Power Supply">UPS</acronym></a></li>
						</ul>

					</div>
				</div>





				<div id="cCol">
					<div id="pageContent">
						<noscript>
							<div class="alert warning compact">
								<h4>You do not have JavaScript enabled on this browser!</h4>
								<p><a href="/portfolio/northamber-login">Click here for more info</a>.</p>
							</div>
						</noscript>





						<form method="post" action="default.aspx" id="ctl00">
							<div class="aspNetHidden">
								<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTk0ODU3MDc2MQ9kFgJmD2QWAgIdDxYCHgRUZXh0BQZNTVhJSUlkGAEFE2N0bDAwJE1haW5MaW5rc1ZpZXcPD2QCAWRqNS6YhDg0rrDFNzFpSyRjs8pirbLm/Hx2h46Jta2oBQ==" />
							</div>


							<div class="adsHorizontal">

								<object type="application/x-shockwave-flash" data="/images/portfolio/nmb/Ads/Home_H1_3.swf" height="231" width="623">
									<param name="wmode" value="transparent" />
									<param name="scale" value="showall" />
									<param name="quality" value="high" />
									Advertisement: Canon imageFORMULA P-150 Document Scanner
								</object>

							</div>


							<h2>Hot Deals</h2>

							<div class="productGallery">
								<div>
									<a href="/portfolio/northamber-login">
										<img src="/images/portfolio/nmb/ads/dragon.png" height="130" width="203" alt="Product Image" /></a>
									<h4><a href="/portfolio/northamber-login">Dragon NS Premium V11</a></h4>
									<p>New version - Faster, smarter - As seen on TV!</p>
									<dl>
										<dt>Trade Price:</dt>
										<dd>&pound;***</dd>
									</dl>
									<div><a href="/portfolio/northamber-login">Full details</a></div>
								</div>
								<div class="cCol">
									<a href="/portfolio/northamber-login">
										<img src="/images/portfolio/nmb/ads/Ricoh-Aficio-SPC-232SF.png" height="130" width="203" alt="Product Image" /></a>
									<h4><a href="/portfolio/northamber-login">Ricoh Aficio SP C232SF Multifunction Printer</a></h4>
									<p>Reduced price! – Save &pound;67 off usual trade price</p>
									<dl>
										<dt>Trade Price:</dt>
										<dd>&pound;***</dd>
									</dl>
									<div><a href="/portfolio/northamber-login">Full details</a></div>
								</div>
								<div>
									<a href="/portfolio/northamber-login">
										<img src="/images/portfolio/nmb/ads/viewsonic.png" height="130" width="203" alt="Product Image" /></a>
									<h4><a href="/portfolio/northamber-login">ViewSonic PJD6251</a></h4>
									<p>Free replacement lamp worth &pound;145.00 SSP ex VAT</p>
									<dl>
										<dt>Trade Price:</dt>
										<dd>&pound;***</dd>
									</dl>
									<div><a href="/portfolio/northamber-login">Full details</a></div>
								</div>
								<div>
									<a href="/portfolio/northamber-login">
										<img src="/images/portfolio/nmb/ads/ricoh.png" height="130" width="203" alt="Product Image" /></a>
									<h4><a href="/portfolio/northamber-login">Ricoh Aficio SP C231N Colour Laser Printer</a></h4>
									<p>Exclusive price! - Save &pound;90 off usual trade price</p>
									<dl>
										<dt>Trade Price:</dt>
										<dd>&pound;***</dd>
									</dl>
									<div><a href="/portfolio/northamber-login">Full details</a></div>
								</div>
								<div class="cCol">
									<a href="/portfolio/northamber-login">
										<img src="/images/portfolio/nmb/ads/freecom.png" height="130" width="203" alt="Product Image" /></a>
									<h4><a href="/portfolio/northamber-login">Freecom Mobile Drive CLS 320GB</a></h4>
									<p>Free USB dock worth &pound;15.99 SSP ex VAT</p>
									<dl>
										<dt>Trade Price:</dt>
										<dd>&pound;***</dd>
									</dl>
									<div><a href="/portfolio/northamber-login">Full details</a></div>
								</div>
								<div>
									<a href="/portfolio/northamber-login">
										<img src="/images/portfolio/nmb/ads/canon.png" height="130" width="203" alt="Product Image" /></a>
									<h4><a href="/portfolio/northamber-login">Canon ScanFront 300</a></h4>
									<p>New product - High speed document scanner</p>
									<dl>
										<dt>Trade Price:</dt>
										<dd>&pound;***</dd>
									</dl>
									<div><a href="/portfolio/northamber-login">Full details</a></div>
								</div>
							</div>

						</form>

					</div>
				</div>


				<div id="rCol">
					<div id="vendorList" class="box">
						<h2>Vendor Pages</h2>
						<ul class="menuLink">
							<li><a href="/portfolio/northamber-login">Acer</a></li>
							<li><a href="/portfolio/northamber-login">APC</a></li>
							<li><a href="/portfolio/northamber-login">Allied Telesis</a></li>
							<li><a href="/portfolio/northamber-login">Brother</a></li>
							<li><a href="/portfolio/northamber-login">Canon</a></li>
							<li><a href="/portfolio/northamber-login">Crucial</a></li>
							<li><a href="/portfolio/northamber-login">Eaton</a></li>
							<li><a href="/portfolio/northamber-login">Freecom</a></li>
							<li><a href="/portfolio/northamber-login">Fujitsu</a></li>
							<li><a href="/portfolio/northamber-login">Fujitsu Scanners</a></li>
							<li><a href="/portfolio/northamber-login">IBM</a></li>
							<li><a href="/portfolio/northamber-login">Kodak</a></li>
							<li><a href="/portfolio/northamber-login">Matrox</a></li>
							<li><a href="/portfolio/northamber-login">Microsoft</a></li>
							<li><a href="/portfolio/northamber-login">Ricoh</a></li>
							<li><a href="/portfolio/northamber-login">Sitecom</a></li>
							<li><a href="/portfolio/northamber-login">Tandberg Data</a></li>
							<li><a href="/portfolio/northamber-login">Wasp</a></li>

						</ul>
					</div>

					<ul id="offerLink">
						<li><a href="/portfolio/northamber-login">
							<img src="/images/portfolio/nmb/hot_offers.gif" height="79" width="175" alt="Latest Offers" /></a></li>
					</ul>

					<ul id="hotLinks">
						<li class="skype"><a href="/portfolio/northamber-login" onclick="return skypeCheck();" title="Click here to make a Skype call to an operator">Skype Us Now!</a></li>
						<li class="chat"><a href="/portfolio/northamber-login" onclick="this.newWindow = window.open('http://chat.boldcenter.com/aid/5107021924717403814/bc.chat?url=' + document.location, 'Chat', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');this.newWindow.focus();this.newWindow.opener=window;return false;" title="Click here to start a text chat with an operator">Live Text Chat</a></li>
						<li class="rss"><a href="/portfolio/northamber-login" title="Click here to subscribe to the Northamber Promotions &amp; Offers RSS feed">RSS Offers Feed</a></li>
						<li class="xml"><a href="/portfolio/northamber-login" title="Click here to find our more info on the Northamber Gateway XML Data Feed">XML Data Feed</a></li>


					</ul>
				</div>
			</div>
		</div>


		<div id="footer">

			<a title="Click here to return to the top of the page" class="top" href="#">Skip To Top</a>

			<div id="footerLinks">
				<ul>
					<li><a href="/portfolio/northamber-login">Home</a> | </li>
					<li><a href="/portfolio/northamber-login">Site Map</a> | </li>
					<li><a href="/portfolio/northamber-login">Terms &amp; Conditions</a> | </li>
					<li><a href="/portfolio/northamber-login">Returns</a> | </li>
					<li><a href="/portfolio/northamber-login">Export Information</a> | </li>
					<li><a href="/portfolio/northamber-login">Investor Relations</a> | </li>
					<li><a href="/portfolio/northamber-login">About Us</a> | </li>
					<li><a href="/portfolio/northamber-login">Contact Us</a> | </li>
					<li><a href="/portfolio/northamber-login">Help</a></li>
				</ul>
			</div>

			<div id="smallPrint">
				<p>&copy; Northamber MMXIII. <acronym title="Errors and Omissions Excepted">E&amp;OE</acronym>. All prices exclude <acronym title="Value Added Tax">VAT</acronym>&amp; carriage. All trademarks acknowledged.</p>
				<p>Phone calls may be recorded for quality assurance and staff training purposes.</p>
				<p>All the product information is provided by a third party and shown in good faith as correct.</p>
				<p>Under the Companies Act (Trading Disclosures) Regulations 2008, Northamber <acronym title="Public Limited Company">PLC</acronym>is the registered trading name of Northamber <acronym title="Public Limited Company">PLC</acronym>.</p>
			</div>

		</div>
	</div>


	<script type="text/javascript" src="/scripts/portfolio/nmb.js"></script>

	<!--[if lte IE 6]>
		<script type="text/javascript" src="/scripts/portfolio/nmb_ie.js"></script>
	<![endif]-->

	<script type="text/javascript">
		//<![CDATA[

		$(function () {
			toggleUnorderedList('vendorList', 9);
		});

		//]]>
	</script>


</body>
</html>
