@{
	Layout = null;
}

<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Northamber | Product Details: Toshiba Satellite Pro L670</title>
	<meta name="Keywords" content="northamber, it wholesaler, wholesale, server, computer, trade only, it trade, reseller, trade" />
	<meta name="Description" content="Northamber PLC - The UK&#39;s longest established trade only distributor of IT equipment" />
	<meta name="Author" content="Paul Arnold" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link type="text/css" rel="stylesheet" href="/content/css/portfolio/nmb.css" media="all" />

	<!--[if lte IE 7]>
		<link type="text/css" rel="stylesheet" href="/content/css/portfolio/nmb_IE7.css" />
	<![endif]-->
	<!--[if lte IE 6]>
		<link type="text/css" rel="stylesheet" href="/content/css/portfolio/nmb_IE6.css" />
	<![endif]-->

	<link rel="shortcut icon" href="/images/portfolio/nmb/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/images/portfolio/nmb/favicon.ico" type="image/x-icon" />

	<script type="text/javascript" src="/scripts/portfolio/nmb.js"></script>
	<!--[if lte IE 6]>
		<script type="text/javascript" src="/scripts/portfolio/nmb_ie.js"></script>
	<![endif]-->

		<script type="text/javascript">
			//<![CDATA[

			$(function () {
				toggleUnorderedList('vendorList', 9);
			});

			//]]>
	</script>

		<script type="text/javascript">
			//<![CDATA[

			//Multi-Angle Images
			function replaceImage(origImgId, newImg) {
				var origImg = document.getElementById(origImgId);
				origImg.src = newImg.src;
			}

			//Related Products
			function collapseRelatedProds() {
				if (document.getElementById('relatedProds')) {
					if ($('#relatedProds tr').size() > 10) {
						var element = document.getElementById('relatedProds');

						//work out root path
						//var rootPath = (window.location.hostname == 'localhost') ? '/Northamber' : '';
						var rootPath = '';

						//pre-load plus-minus images
						var arrImgSrc = new Array(rootPath + "/images/portfolio/nmb/btn_plus.png", rootPath + "/images/portfolio/nmb/btn_minus.png");
						preloadImages(arrImgSrc);

						//hide all marked rows
						var nodes = element.getElementsByTagName('tr');
						for (var i = 0; i < nodes.length; i++) {
							if (nodes[i].className && nodes[i].className != 'header') { nodes[i].className = nodes[i].className + ' hide' };
						};
					}
				}
			}

			function toggleRelProds(elementId) {
				$('#relatedProds tr.' + elementId).toggleClass('hide');
				togglePlusMinusImage('img' + elementId);
			}

			//]]>
	</script>

</head>
<body>

	<div id="accessibilityLinks">
		<h4>Accessibility Links</h4>
		<ul>
			<li><a href="/portfolio" title="Click here to go to the home page" accesskey="1">Home page</a> (Access key = 1)</li>
			<li><a href="#pageContent" title="Click here to skip to the main content of the current page" accesskey="2">Skip to content</a> (Access key = 2)</li>
			<li><a href="#navigation" title="Click here to skip to the main site navigation menu">Skip to navigation</a></li>
			<li><a href="#search" title="Click here to skip to the main site search form">Skip to Northamber's search form</a> (Access key = 4)</li>
			<li><a href="/portfolio" title="Click here for a map of this site" accesskey="3">Site Map</a> (Access key = 3)</li>
			<li><a href="/portfolio" title="Click here to find out how to use Access Keys within this site" accesskey="0">Access keys help</a> (Access key = 0)</li>
		</ul>
	</div>
	<div id="page">

		<div id="header">

			<h1 id="siteLogo"><a href="/portfolio" title="Click here to go to the Northamber home page">Northamber</a></h1>
			<h2 id="siteSlogan">Your Trade-Only I.T. Distributor</h2>

			<form id="mainSearch" class="searchForm" action="/PaulArnold/Portfolio/NMB2/Products/ProductList.aspx" method="get" onsubmit="return validateForm(this,false,'search','search,SearchTerm')">
				<fieldset>

					<label for="search">Search</label>

					<input id="search" name="ft" type="text" maxlength="100" accesskey="4" onkeyup="suggest(this,'search',event)" />
					<input id="searchButton" type="image" src="/images/portfolio/nmb/bullet.png" value="Go" />

				</fieldset>
			</form>

		</div>


		<div id="menuBar">
			<div id="menuBkgd">
				<div id="menu">
					<ul>
						<li>
							<a href="#">
								<span>Desktop PCs</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio">
										<span>Desktop PCs</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Barebone PCs</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Servers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Cases &amp; Blade Centres</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Motherboards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Processor Upgrades</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Video Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Sound Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Internal Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Port Expansion</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>UPS &amp; Power Devices</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>System &amp; Power Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Desktop PC &amp; Server Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>System Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Notebooks</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio">
										<span>Notebooks</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Handhelds</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Netbooks</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Handheld Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Tablet PCs</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Carrying Cases</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Notebook Batteries</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>2.5" Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Notebook Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>External Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Notebook &amp; Tablet PC Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Docking Stations &amp; Port Replicators</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="multi">Storage &amp; Memory</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio">
										<span>RAM</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Flash Memory</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Read-Only Memory (ROM)</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Memory Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>CD &amp; DVD Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Tape Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Network Storage</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Removable Media</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Storage Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Storage Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Storage Enclosures &amp; RAID Arrays</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Storage Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Storage Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="multi">Monitors &amp; Projectors</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio">
										<span>Monitors</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Projectors</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Monitor Stands &amp; Mounts</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Projector Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Monitor Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Projector Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Monitor Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Monitor &amp; Projector Cables</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span class="multi">Printers &amp; Scanners</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio">
										<span>Printers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Scanners</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Printer Consumables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Scanner accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Printer Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Multifunction &amp; Office Machines</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Printer Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Bar Code Readers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Printer &amp; Scanner Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Barcode Reader &amp; POS Accessories</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Networking</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio">
										<span>Modems</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>PC &amp; Network Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Concentrators &amp; Multiplexers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Repeaters &amp; Transceivers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Hubs &amp; Switches</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Bridges &amp; Routers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Network Devices</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Network Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Network Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Network Storage</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Network Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Network Service &amp; Support</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Telephones</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Audio &amp; Video</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio">
										<span>Camcorders &amp; Digital Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>PC &amp; Network Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Digital AV Players &amp; Recorders</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Monitors</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Portable Audio</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Speakers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>AV Furniture</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Headsets &amp; Microphones</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Video Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Sound Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>AV Blank Media</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Camera &amp; Game Console Cases</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Remote Controls</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Power Devices &amp; Batteries</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>AV Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>AV Accessories</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>PC Accessories</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio">
										<span>Keyboards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Keyboard &amp; Mouse Accessories</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Keyboard &amp; USB Cables</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Mice, Stylus &amp; Pointing Devices</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Game Controllers</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>PC &amp; Network Cameras</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Headsets &amp; Microphones</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>External Hard Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>USB Flash Drives</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Video Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Sound Cards</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Input Adapters</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Input Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<span>Software</span>
							</a>
							<ul>
								<li>
									<a href="/portfolio">
										<span>Operating Systems</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Applications</span>
									</a>
								</li>
								<li>
									<a href="/portfolio">
										<span>Software Service &amp; Support</span>
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="topBar">

			<h1>Welcome to northamber.com</h1>





			<div id="topBarLinks">
				<ul id="mainLinks">
					<li><a href="/portfolio">Home</a></li>
					<li>| <a href="/portfolio">Vendor List</a></li>
					<li>| <a href="/portfolio">My Account</a></li>
					<li>| <a href="/portfolio">Contact Us</a></li>
					<li>| <a href="/portfolio">Help</a></li>
					<li>| <a href="/portfolio">Sign In</a></li>
				</ul>

				<div id="contactLinks">
					<a href="/portfolio" title="Click here to subscribe to Northamber's RSS feed">
						<img src="/images/portfolio/nmb/btn_rss.png" width="23" height="23" alt="RSS" /></a><a href="/portfolio" onclick="this.newWindow = window.open('http://chat.boldcenter.com/aid/5107021924717403814/bc.chat?url=' + document.location, 'Chat', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');this.newWindow.focus();this.newWindow.opener=window;return false;" title="Click here to start a text chat with an operator"><img src="/images/portfolio/nmb/btn_chat.png" width="23" height="23" alt="Text Chat" /></a><a href="/portfolio" title="Click here to make a Skype call to an operator"><img src="/images/portfolio/nmb/btn_skype.png" alt="Skype" height="23" width="23" /></a>
				</div>

			</div>

		</div>

		<div id="body">
			<div id="bodyRow">




				<div id="lCol">
					<div id="lColContent">



						<div id="navigation" class="box">
							<h2>Product Range</h2>
							<ul class="menu">
								<li>
									<a href="#">
										<span>Desktop PCs</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio">
												<span>Desktop PCs</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Servers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Motherboards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Video Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Internal Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>UPS &amp; Power Devices</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Desktop PC &amp; Server Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Barebone PCs</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Cases &amp; Blade Centres</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Processor Upgrades</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Sound Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Port Expansion</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>System &amp; Power Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>System Service &amp; Support</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Notebooks</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio">
												<span>Notebooks</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Netbooks</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Tablet PCs</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Notebook Batteries</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Notebook Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Notebook &amp; Tablet PC Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Handhelds</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Handheld Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Carrying Cases</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>2.5" Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>External Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Docking Stations &amp; Port Replicators</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Storage &amp; Memory</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio">
												<span>RAM</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Read-Only Memory (ROM)</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Tape Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Removable Media</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Storage Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Storage Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Flash Memory</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Memory Adapters</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>CD &amp; DVD Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Network Storage</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Storage Adapters</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Storage Enclosures &amp; RAID Arrays</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Storage Service &amp; Support</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" title="Monitors &amp; Projectors">
										<span>Monitors &amp; Proje…</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio">
												<span>Monitors</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Monitor Stands &amp; Mounts</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Monitor Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Monitor Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Projectors</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Projector Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Projector Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Monitor &amp; Projector Cables</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Printers &amp; Scanners</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio">
												<span>Printers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Printer Consumables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Printer Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Printer Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Printer &amp; Scanner Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Scanners</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Scanner accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Multifunction &amp; Office Machines</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Bar Code Readers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Barcode Reader &amp; POS Accessories</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Networking</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio">
												<span>Modems</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Concentrators &amp; Multiplexers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Hubs &amp; Switches</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Network Devices</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Network Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Network Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Telephones</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>PC &amp; Network Cameras</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Repeaters &amp; Transceivers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Bridges &amp; Routers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Network Adapters</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Network Storage</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Network Service &amp; Support</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Audio &amp; Video</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio">
												<span>Camcorders &amp; Digital Cameras</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Digital AV Players &amp; Recorders</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Portable Audio</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>AV Furniture</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Video Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>AV Blank Media</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Remote Controls</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>AV Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>PC &amp; Network Cameras</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Monitors</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Speakers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Headsets &amp; Microphones</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Sound Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Camera &amp; Game Console Cases</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Power Devices &amp; Batteries</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>AV Accessories</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>PC Accessories</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio">
												<span>Keyboards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Keyboard &amp; USB Cables</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Game Controllers</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Headsets &amp; Microphones</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>USB Flash Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Sound Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Input Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Keyboard &amp; Mouse Accessories</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Mice, Stylus &amp; Pointing Devices</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>PC &amp; Network Cameras</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>External Hard Drives</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Video Cards</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Input Adapters</span>
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span>Software</span>
									</a>
									<ul>
										<li>
											<a href="/portfolio">
												<span>Operating Systems</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Software Service &amp; Support</span>
											</a>
										</li>
										<li>
											<a href="/portfolio">
												<span>Applications</span>
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>


						<ul id="configLinks" class="logoLinks">
							<li class="laptopBag"><a href="/portfolio">Dicota<br />
								Notebook Cases</a></li>
							<li class="memory"><a href="/portfolio">Kingston Memory</a></li>
							<li class="memory"><a href="/portfolio">Crucial Memory</a></li>
							<li class="ups"><a href="/portfolio">Eaton <acronym title="Uninterruptible Power Supply">UPS</acronym></a></li>
							<li class="ups"><a href="/portfolio">APC <acronym title="Uninterruptible Power Supply">UPS</acronym></a></li>
						</ul>

					</div>
				</div>





				<div id="cCol">
					<div id="pageContent">
						<noscript>
							<div class="alert warning compact">
								<h4>You do not have JavaScript enabled on this browser!</h4>
								<p><a href="/portfolio">Click here for more info</a>.</p>
							</div>
						</noscript>





						<ul class="breadcrumb">
							<li><a href="/portfolio">Home</a></li>
							<li><a href="/portfolio">Notebooks</a></li>
							<li>Product Details: Toshiba Satellite Pro L670</li>
						</ul>

						<div class="pageOptions">
							<ul>
								<li class="print"><a title="Click here to get a printer-friendly version of this page"
									href="/portfolio">Printable version</a></li>
							</ul>
						</div>

						<div id="product">
							<div id="productBox">
								<img src="/images/portfolio/nmb/products/1914a449-4dbe-4911-adcd-ef44b5f63ccf.jpg" height="150" width="200" id="productImg" alt="Product Image: TONBSL103" />
								<div id="multiAngle">
									<img src="/images/portfolio/nmb/products/9260f0e5-cba9-48e2-9203-01248ee8775f.jpg" alt="" height="34" width="45" onmouseover="replaceImage('productImg',this);" />
									<img src="/images/portfolio/nmb/products/8e00a55e-ab28-4613-b921-4b3030871719.jpg" alt="" height="34" width="45" onmouseover="replaceImage('productImg',this);" />
									<img src="/images/portfolio/nmb/products/5d9de733-4f5d-483f-a385-554d38556dbb.jpg" alt="" height="34" width="45" onmouseover="replaceImage('productImg',this);" />
									<img src="/images/portfolio/nmb/products/235832c0-e0c3-488c-9772-6d2c4c16c5c7.jpg" alt="" height="34" width="45" onmouseover="replaceImage('productImg',this);" />

								</div>
								<div id="priceStock">
									<div>
										<table summary="Price &amp; availability details">
											<tbody>
												<tr class="tradePrice">
													<th>Trade
													</th>
													<td>£568.50
													</td>
												</tr>
												<tr>
													<th>
														<acronym title="Recommended Retail Price">RRP</acronym>
													</th>
													<td>£620.00
													</td>
												</tr>
												<tr>
													<th>Available stock
													</th>
													<td>
														<span class="alert">0</span>
													</td>
												</tr>
												<tr>
													<th>Virtual stock
													</th>
													<td>
														<span class="alert">0</span> <sup class="alert"><a href="#fn1">a</a></sup>
													</td>
												</tr>
												<tr>
													<th>Delivery due
													</th>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
									<fieldset class="addToBasket">
										<input name="AddToBasket" type="text" value="1" maxlength="2" class="text" onkeypress="return disableEnterKey(event)" />
										<input type="image" name="Add" src="/images/portfolio/nmb/btn_addtobasket.png" alt="Add to Basket" />
									</fieldset>
								</div>
								<div class="box pdfLinks">
									<h2>PDF Sales Tools</h2>
									<div class="content">
										<ul>
											<li><span>User Manual</span><a href="/portfolio"><img src="/images/portfolio/nmb/btn_go_red.png" alt="Download" /></a></li>
										</ul>
									</div>
								</div>
							</div>
							<a href="/portfolio" title="Click here for more products by Toshiba">
								<img src="/images/portfolio/nmb/manufacturers/toshiba.gif" height="44" width="100" alt="Toshiba" /></a>
							<h1>Toshiba Satellite Pro L670</h1>
							<dl id="productIds">
								<dt>Namber code:</dt>
								<dd>TONBSL103</dd>
								<dt>Mnfr code:</dt>
								<dd>PSK-03C015EN</dd>
							</dl>
							<p>
								The Toshiba Satellite Pro L670 series notebook offers the essentials to easily manage
			today's demanding business applications in small offices, and provides plenty
			of multimedia features supporting professionals during its work or serving as an
			entertainment device during breaks or for leisure.
							</p>
							<p>
								Satellite Pro L670 comes in a classic and timeless design that continues the common
			Satellite Pro design language. The laptops' textured surface provides for robustness
			and a low sensitivity to fingerprint marks.
							</p>
							<p>
								The 17.3&quot; Satellite Pro L670 is designed as a full desktop replacement mainly
			targeted at SOHO (small office, home office) users and freelancers. The large screen
			offers enhanced productivity, while still at a reasonable cost.
							</p>
						</div>
						<div id="tabContainer" class="tabContainer">
							<h2>Full Specifications</h2>
							<div>
								<table summary="Full list of product specifications">
									<tbody>
										<tr>
											<th class="th" colspan="2">General
											</th>
										</tr>
										<tr>
											<th>System Type
											</th>
											<td>Notebook
											</td>
										</tr>
										<tr>
											<th>Built-in Devices
											</th>
											<td>Stereo speakers, wireless LAN aerial, Bluetooth aerial
											</td>
										</tr>
										<tr>
											<th>Width
											</th>
											<td>41.4 cm
											</td>
										</tr>
										<tr>
											<th>Depth
											</th>
											<td>27 cm
											</td>
										</tr>
										<tr>
											<th>Height
											</th>
											<td>3.8 cm
											</td>
										</tr>
										<tr>
											<th>Weight
											</th>
											<td>2.8 kg
											</td>
										</tr>
										<tr>
											<th>Colour
											</th>
											<td>Genchaku black
											</td>
										</tr>
										<tr>
											<th>Localisation
											</th>
											<td>United Kingdom
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Processor
											</th>
										</tr>
										<tr>
											<th>Processor
											</th>
											<td>Intel Core i5 480M / 2.66 GHz
											</td>
										</tr>
										<tr>
											<th>Max Turbo Speed
											</th>
											<td>2.93 GHz
											</td>
										</tr>
										<tr>
											<th>Multi-Core Technology
											</th>
											<td>Dual-Core
											</td>
										</tr>
										<tr>
											<th>64-bit Computing
											</th>
											<td>Yes
											</td>
										</tr>
										<tr>
											<th>Features
											</th>
											<td>Enhanced SpeedStep technology, Intel Turbo Boost Technology
											</td>
										</tr>
										<tr>
											<th>Chipset Type
											</th>
											<td>Mobile Intel HM55 Express
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Cache Memory
											</th>
										</tr>
										<tr>
											<th>Type
											</th>
											<td>L3 Cache
											</td>
										</tr>
										<tr>
											<th>Installed Size
											</th>
											<td>3 MB
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">RAM
											</th>
										</tr>
										<tr>
											<th>Installed Size
											</th>
											<td>4 GB / 8 GB (max)
											</td>
										</tr>
										<tr>
											<th>Technology
											</th>
											<td>DDR3 SDRAM - 1066 MHz
											</td>
										</tr>
										<tr>
											<th>Configuration Features
											</th>
											<td>2 x 2 GB
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Storage Controller
											</th>
										</tr>
										<tr>
											<th>Type
											</th>
											<td>Serial ATA
											</td>
										</tr>
										<tr>
											<th>Serial ATA Interface
											</th>
											<td>Serial ATA-300
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Storage
											</th>
										</tr>
										<tr>
											<th>Hard Drive
											</th>
											<td>640 GB - Serial ATA-300 - 5400 rpm
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Optical Storage
											</th>
										</tr>
										<tr>
											<th>Type
											</th>
											<td>DVD&#177;RW (&#177;R DL) / DVD-RAM
											</td>
										</tr>
										<tr>
											<th>Read Speed
											</th>
											<td>24x (CD) / 8x (DVD)
											</td>
										</tr>
										<tr>
											<th>Write Speed
											</th>
											<td>24x (CD) / 8x (DVD&#177;R) / 6x (DVD&#177;R DL)
											</td>
										</tr>
										<tr>
											<th>CD / DVD Rewrite Speed
											</th>
											<td>24x (CD) / 6x (DVD-RW) / 8x (DVD+RW) / 5x (DVD-RAM)
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Card Reader
											</th>
										</tr>
										<tr>
											<th>Type
											</th>
											<td>Card reader
											</td>
										</tr>
										<tr>
											<th>Supported Flash Memory Cards
											</th>
											<td>SD Memory Card, Memory Stick, Memory Stick PRO, MultiMediaCard
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Display
											</th>
										</tr>
										<tr>
											<th>Display Type
											</th>
											<td>17.3&quot; TFT
											</td>
										</tr>
										<tr>
											<th>LCD Backlight Technology
											</th>
											<td>LED backlight
											</td>
										</tr>
										<tr>
											<th>Max Resolution
											</th>
											<td>1600 x 900 ( WXGA++ )
											</td>
										</tr>
										<tr>
											<th>Widescreen Display
											</th>
											<td>Yes
											</td>
										</tr>
										<tr>
											<th>Image Aspect Ratio
											</th>
											<td>16:9
											</td>
										</tr>
										<tr>
											<th>Features
											</th>
											<td>HighBrightness, TruBrite
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Video
											</th>
										</tr>
										<tr>
											<th>Graphics Processor / Vendor
											</th>
											<td>PCI Express - ATI Mobility Radeon HD 5650 HyperMemory
											</td>
										</tr>
										<tr>
											<th>Video Memory
											</th>
											<td>1 GB DDR3 SDRAM
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Audio
											</th>
										</tr>
										<tr>
											<th>Audio Output
											</th>
											<td>Sound card
											</td>
										</tr>
										<tr>
											<th>Audio Codec
											</th>
											<td>Realtek ALC259
											</td>
										</tr>
										<tr>
											<th>Compliant Standards
											</th>
											<td>High Definition Audio, Dolby Advanced Audio
											</td>
										</tr>
										<tr>
											<th>Features
											</th>
											<td>Toshiba Bass Enhanced Sound System
											</td>
										</tr>
										<tr>
											<th>Audio Input
											</th>
											<td>Microphone
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Notebook Camera
											</th>
										</tr>
										<tr>
											<th>Camera Type
											</th>
											<td>Integrated
											</td>
										</tr>
										<tr>
											<th>Sensor Resolution
											</th>
											<td>0.3 Megapixel
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Input Device(s)
											</th>
										</tr>
										<tr>
											<th>Type
											</th>
											<td>Keyboard, touchpad
											</td>
										</tr>
										<tr>
											<th>Features
											</th>
											<td>Built-in numeric keyboard, multi-touch touchpad
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Networking
											</th>
										</tr>
										<tr>
											<th>Networking
											</th>
											<td>Network adapter
											</td>
										</tr>
										<tr>
											<th>Wireless LAN Supported
											</th>
											<td>Yes
											</td>
										</tr>
										<tr>
											<th>Wireless NIC
											</th>
											<td>Broadcom BCM94313
											</td>
										</tr>
										<tr>
											<th>Data Link Protocol
											</th>
											<td>Ethernet, Fast Ethernet, Gigabit Ethernet, IEEE 802.11b, IEEE 802.11g, IEEE 802.11n,
							Bluetooth 2.1 EDR
											</td>
										</tr>
										<tr>
											<th>Compliant Standards
											</th>
											<td>IEEE 802.11b, IEEE 802.11g, Wi-Fi CERTIFIED, IEEE 802.11n, Bluetooth 2.1
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Expansion / Connectivity
											</th>
										</tr>
										<tr>
											<th>Expansion Slots Total (Free)
											</th>
											<td>2 ( 0 ) x memory
											</td>
										</tr>
										<tr>
											<th>Interfaces
											</th>
											<td>1 x display / video - VGA - 15 pin HD D-Sub (HD-15) &#166; 1 x network - Ethernet
							10Base-T/100Base-TX/1000Base-T - RJ-45 &#166; 1 x microphone - input - mini-phone
							3.5mm &#166; 1 x headphones - output - mini-phone stereo 3.5 mm &#166; 2 x Hi-Speed
							USB - 4 PIN USB Type A &#166; 1 x storage / Hi-Speed USB - Hi-Speed USB / eSATA
							&#166; 1 x audio / video - HDMI
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Miscellaneous
											</th>
										</tr>
										<tr>
											<th>Features
											</th>
											<td>Security lock slot (cable lock sold separately), administrator password, system
							password, hard drive password, remote boot control, wake on LAN
											</td>
										</tr>
										<tr>
											<th>Compliant Standards
											</th>
											<td>CE
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Power
											</th>
										</tr>
										<tr>
											<th>Power Device
											</th>
											<td>External
											</td>
										</tr>
										<tr>
											<th>Voltage Required
											</th>
											<td>AC 120/230 V ( 50/60 Hz )
											</td>
										</tr>
										<tr>
											<th>Power Provided
											</th>
											<td>75 Watt
											</td>
										</tr>
										<tr>
											<th>Output Voltage
											</th>
											<td>19 V
											</td>
										</tr>
										<tr>
											<th>Output Current
											</th>
											<td>3.95 A
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Battery
											</th>
										</tr>
										<tr>
											<th>Technology
											</th>
											<td>Lithium Ion
											</td>
										</tr>
										<tr>
											<th>Installed Qty
											</th>
											<td>1
											</td>
										</tr>
										<tr>
											<th>Capacity
											</th>
											<td>4400 mAh
											</td>
										</tr>
										<tr>
											<th>Run Time (Up To)
											</th>
											<td>3.2 hour(s)
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Operating System / Software
											</th>
										</tr>
										<tr>
											<th>OS Provided
											</th>
											<td>Microsoft Windows 7 Professional 64-bit Edition
											</td>
										</tr>
										<tr>
											<th>Microsoft Office Preloaded
											</th>
											<td>Includes a pre-loaded image of select Microsoft Office 2010 suites. Purchase an
							Office 2010 Product Key Card or disc to activate preloaded software on this PC.
											</td>
										</tr>
										<tr>
											<th>Software
											</th>
											<td>Drivers &amp; Utilities, Toshiba ConfigFree, Connectivity Doctor, McAfee Internet
							Security Suite (30 days subscription), Toshiba Supervisor Password Utility, Nero
							9 Essentials, Toshiba Bluetooth Stack, Skype, Toshiba Assist, Windows Live Essentials,
							ebay, Toshiba Recovery Media Creator, Toshiba Photo Service, Toshiba Bluetooth Monitor,
							Toshiba Disc Creator, WildTangent Game Console, Toshiba Value Added Package, Chicony
							Camera Assistant Software, Face Recognition software, Bing Toolbar, Amazon, Nero
							BackItUp &amp; Burn Essentials, Microsoft Office 2010 Starter
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Environmental Standards
											</th>
										</tr>
										<tr>
											<th>ENERGY STAR Qualified
											</th>
											<td>Yes
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Manufacturer Warranty
											</th>
										</tr>
										<tr>
											<th>Service &amp; Support
											</th>
											<td>1 year warranty
											</td>
										</tr>
										<tr>
											<th>Service &amp; Support Details
											</th>
											<td>EMEA warranty - 1 year - carry-in
											</td>
										</tr>
										<tr>
											<th class="th" colspan="2">Environmental Parameters
											</th>
										</tr>
										<tr>
											<th>Min Operating Temperature
											</th>
											<td>5 &#176;C
											</td>
										</tr>
										<tr>
											<th>Max Operating Temperature
											</th>
											<td>35 &#176;C
											</td>
										</tr>
										<tr>
											<th>Humidity Range Operating
											</th>
											<td>10 - 90%
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<h2>Related<br />
								Products</h2>
							<div>
								<table id="relatedProds" summary="List of related products">
									<thead>
										<tr>
											<th class="firstChild">Title</th>
											<th class="number">Stock</th>
											<th class="number">Trade</th>
										</tr>

									</thead>
									<tfoot>
										<tr>
											<th>Title</th>
											<th>Stock</th>
											<th>Trade</th>
										</tr>
									</tfoot>
									<tbody>
										<tr>
											<th onclick="toggleRelProds('DA')" colspan="3">
												<img id="imgDA" src="/images/portfolio/nmb/btn_plus.png" alt="+" title="Click here to expand" />Keyboards</th>

										</tr>
										<tr class="DA">
											<td>
												<a href="/portfolio" title="Toshiba Keyboard (Namber Code: TOAC0274, Mnfr Code: PX1358E-1DAC)">Toshiba Keyboard</a>
												<p>Toshiba - Keyboard - USB - English</p>
											</td>
											<td class="number"><span class="alert">0</span></td>
											<td class="number">&pound;10.53</td>

										</tr>
										<tr>
											<th onclick="toggleRelProds('DB')" colspan="3">
												<img id="imgDB" src="/images/portfolio/nmb/btn_plus.png" alt="+" title="Click here to expand" />Pointing Devices</th>
										</tr>
										<tr class="DB">
											<td>
												<a href="/portfolio" title="Toshiba Mini Mouse (Namber Code: TOAC0254, Mnfr Code: PA3569E-1ETA)">Toshiba Mini Mouse</a>
												<p>Toshiba Mini - Mouse - laser - wired - USB - silver</p>

											</td>
											<td class="number"><span class="alert">0</span></td>
											<td class="number">£8.00</td>
										</tr>
										<tr>
											<th onclick="toggleRelProds('AI')" colspan="3">
												<img id="imgAI" src="/images/portfolio/nmb/btn_plus.png" alt="+" title="Click here to expand" />Port Expansion</th>
										</tr>
										<tr class="AI">

											<td>
												<a href="/portfolio" title="Toshiba Dynadock V10 USB Mini Port Replicator (DVI) (Namber Code: TOAC0361, Mnfr Code: PA3778E-1PRP)">Toshiba Dynadock V10 USB Mini Port Replicator (DVI)</a>
												<p>Toshiba Dynadock V10 USB Mini Port Replicator (DVI) - USB docking station - LAN Ethernet, Fast Ethernet</p>
											</td>
											<td class="number">15</td>
											<td class="number">£55.67</td>
										</tr>


										<tr class="AI">
											<td>
												<a href="/portfolio" title="Toshiba Dynadock USB Port Replicator with DVI and VGA (Namber Code: TOAC0311, Mnfr Code: PA3575E-1PRP)">Toshiba Dynadock USB Port Replicator with DVI and VGA</a>
												<p>Toshiba Dynadock USB Port Replicator with DVI and VGA - USB docking station - LAN Ethernet, Fast Ethernet</p>
											</td>
											<td class="number">58</td>
											<td class="number">£89.07</td>

										</tr>
										<tr>
											<th onclick="toggleRelProds('BA')" colspan="3">
												<img id="imgBA" src="/images/portfolio/nmb/btn_plus.png" alt="+" title="Click here to expand" />RAM</th>
										</tr>
										<tr class="BA">
											<td>
												<a href="/portfolio" title="Toshiba Memory (Namber Code: TOAC0339, Mnfr Code: PA3676U-1M2G)">Toshiba Memory</a>
												<p>Toshiba - Memory - 2 GB - SO DIMM 204-pin - DDR3 - 1066 MHz / PC3-8500 - unbuffered - non-ECC</p>

											</td>
											<td class="number">8</td>
											<td class="number">£29.90</td>
										</tr>
										<tr>
											<th onclick="toggleRelProds('AH')" colspan="3">
												<img id="imgAH" src="/images/portfolio/nmb/btn_plus.png" alt="+" title="Click here to expand" />System &amp; Power Cables</th>

										</tr>
										<tr class="AH">
											<td>
												<a href="/portfolio" title="Toshiba Power cable (Namber Code: TOAC0015A, Mnfr Code: PX1176U-2NAC)">Toshiba Power cable</a>
												<p>Toshiba - Power cable - 2 m - black</p>
											</td>
											<td class="number">63</td>
											<td class="number">£3.48</td>

										</tr>
										<tr>
											<th onclick="toggleRelProds('AJ')" colspan="3">
												<img id="imgAJ" src="/images/portfolio/nmb/btn_plus.png" alt="+" title="Click here to expand" />System Accessories</th>
										</tr>
										<tr class="AJ">
											<td>
												<a href="/portfolio" title="Toshiba Value Edition (Namber Code: TOAC0351, Mnfr Code: PX1553E-1NCA)">Toshiba Value Edition</a>
												<p>Toshiba Value Edition - Notebook carrying case - 16&quot;</p>

											</td>
											<td class="number">76</td>
											<td class="number">£6.20</td>
										</tr>

										<tr class="AJ">
											<td>
												<a href="/portfolio" title="Toshiba Frontloader Business Case (Namber Code: TOAC0355, Mnfr Code: PX1557E-1NCA)">Toshiba Frontloader Business Case</a>

												<p>Toshiba Frontloader Business Case - Notebook carrying case - 16&quot;</p>
											</td>
											<td class="number">2</td>
											<td class="number">£26.29</td>
										</tr>

										<tr class="AJ">
											<td>

												<a href="/portfolio" title="Kensington Micro Saver (Namber Code: TOAC0319, Mnfr Code: PX1172E-2NAC)">Kensington Micro Saver</a>
												<p>Kensington Micro Saver - Security cable lock - 1.8 m</p>
											</td>
											<td class="number">4</td>
											<td class="number">£26.32</td>
										</tr>
										<tr>

											<th onclick="toggleRelProds('AK')" colspan="3">
												<img id="imgAK" src="/images/portfolio/nmb/btn_plus.png" alt="+" title="Click here to expand" />System Service &amp; Support</th>
										</tr>
										<tr class="AK">
											<td>
												<a href="/portfolio" title="Toshiba Extended service agreement (Namber Code: TOWAR001A, Mnfr Code: SE5003I-PS)">Toshiba Extended service agreement</a>
												<p>Toshiba - Extended service agreement - parts and labour - 2 years ( 2nd/3rd year )</p>
											</td>

											<td class="number">24</td>
											<td class="number">£41.25</td>
										</tr>

										<tr class="AK">
											<td>
												<a href="/portfolio" title="Toshiba All Risks Laptop Insurance (Namber Code: TOINSBUS01, Mnfr Code: 3YRINSURE-B)">Toshiba All Risks Laptop Insurance</a>
												<p>Toshiba All-Risks Laptop Insurance - Insurance (All risks) - replacement - 3 years - Business Customers</p>

											</td>
											<td class="number"><span class="alert">0</span></td>
											<td class="number">£65.15</td>
										</tr>

										<tr class="AK">
											<td>
												<a href="/portfolio" title="Toshiba Up and Running (Namber Code: TOWAR019, Mnfr Code: SE5603UK-P)">Toshiba Up and Running</a>

												<p>Toshiba Up and Running - Extended service agreement - parts and labour ( for notebook with 1 year warranty ) - 3 years ( from original purchase date ) - 8x5 - NBD</p>
											</td>
											<td class="number">16</td>
											<td class="number">£87.65</td>
										</tr>

										<tr class="AK">
											<td>

												<a href="/portfolio" title="Toshiba SelectServ Extended service agreement (Namber Code: TOWAR004, Mnfr Code: SE5553E)">Toshiba SelectServ Extended service agreement</a>
												<p>Toshiba SelectServ - Extended service agreement - parts and labour ( for notebook with 1 year warranty ) - 3 years - on-site - NBD</p>
											</td>
											<td class="number">21</td>
											<td class="number">£118.55</td>
										</tr>
										<tr>

											<th onclick="toggleRelProds('0 ')" colspan="3">
												<img id="img0 " src="/images/portfolio/nmb/btn_plus.png" alt="+" title="Click here to expand" />UNKNOWN</th>
										</tr>
										<tr class="0 ">
											<td>
												<a href="/portfolio" title="Port Replicator II Express (Namber Code: TOAC0157A, Mnfr Code: PA3680E-1PRP)">Port Replicator II Express</a>
												<p>Port Replicator II Express</p>
											</td>
											<td class="number">83</td>

											<td class="number">£119.59</td>
										</tr>
										<tr>
											<th onclick="toggleRelProds('AG')" colspan="3">
												<img id="imgAG" src="/images/portfolio/nmb/btn_plus.png" alt="+" title="Click here to expand" />UPS &amp; Power Devices</th>
										</tr>
										<tr class="AG">
											<td>

												<a href="/portfolio" title="Toshiba Power adapter (Namber Code: TOAC0191, Mnfr Code: PA3378E-3AC3)">Toshiba Power adapter</a>
												<p>Toshiba - Power adapter - 75 Watt</p>
											</td>
											<td class="number">7</td>
											<td class="number">£46.20</td>
										</tr>

										<tr class="AG">

											<td>
												<a href="/portfolio" title="Toshiba Primary Battery Pack (Namber Code: TOAC0403, Mnfr Code: PA3788U-1BRS)">Toshiba Primary Battery Pack</a>
												<p>Toshiba Primary Battery Pack - Laptop battery - 1 x Lithium Ion 6-cell 5100 mAh</p>
											</td>
											<td class="number"><span class="alert">0</span></td>
											<td class="number">£77.32</td>
										</tr>


									</tbody>
								</table>
							</div>

						</div>
						<script type="text/javascript">
							//<![CDATA[
							createTabContainer('tabContainer');
							collapseRelatedProds();
							//]]>
						</script>
						<ol id="fnStock" class="footNote">
							<li id="fn1"><strong><a href="#" title="Click here to return to the top of the page">^</a> Virtual Stock:</strong> Should your order exceed the available stock, then
			any order placed before 14:00 should still be shipped complete for next day delivery,
			provided there is enough virtual stock available. The balance will be dispatched
			the following day providing you select the 'ship incomplete' option. <strong>N.B.</strong>
								Prices may change on any back order due to $<acronym title="US Dollar">USD</acronym>
								changes.</li>
							<li id="fn2"><strong><a href="#" title="Click here to return to the top of the page">^</a> Ship Direct:</strong> This item is electronic and sent via email, normally
			within 24-48 hours. We will contact you for any extra information that is required
			to complete your order.</li>
							<li id="fn3"><strong><a href="#" title="Click here to return to the top of the page">^</a> End-of-Line Product:</strong> This product has reached the end of its life
			and no more will be ordered. For this reason, you cannot order more items than are
			currently displayed as 'in stock'.</li>
							<li id="fn4"><strong><a href="#" title="Click here to return to the top of the page">^</a> Special Purchase:</strong> Please call your account manager for an estimated
			lead time.</li>
						</ol>


					</div>
				</div>


				<div id="rCol">
					<div id="vendorList" class="box">
						<h2>Vendor Pages</h2>
						<ul class="menuLink">
							<li><a href="/portfolio">Acer</a></li>
							<li><a href="/portfolio">APC</a></li>
							<li><a href="/portfolio">Allied Telesis</a></li>
							<li><a href="/portfolio">Brother</a></li>
							<li><a href="/portfolio">Canon</a></li>
							<li><a href="/portfolio">Crucial</a></li>
							<li><a href="/portfolio">Eaton</a></li>
							<li><a href="/portfolio">Freecom</a></li>
							<li><a href="/portfolio">Fujitsu</a></li>
							<li><a href="/portfolio">Fujitsu Scanners</a></li>
							<li><a href="/portfolio">IBM</a></li>
							<li><a href="/portfolio">Kodak</a></li>
							<li><a href="/portfolio">Matrox</a></li>
							<li><a href="/portfolio">Microsoft</a></li>
							<li><a href="/portfolio">Ricoh</a></li>
							<li><a href="/portfolio">Sitecom</a></li>
							<li><a href="/portfolio">Tandberg Data</a></li>
							<li><a href="/portfolio">Wasp</a></li>

						</ul>
					</div>

					<ul id="offerLink">
						<li><a href="/portfolio">
							<img src="/images/portfolio/nmb/hot_offers.gif" height="79" width="175" alt="Latest Offers" /></a></li>
					</ul>

					<ul id="hotLinks">
						<li class="skype"><a href="/portfolio" onclick="return skypeCheck();" title="Click here to make a Skype call to an operator">Skype Us Now!</a></li>
						<li class="chat"><a href="/portfolio" onclick="this.newWindow = window.open('http://chat.boldcenter.com/aid/5107021924717403814/bc.chat?url=' + document.location, 'Chat', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');this.newWindow.focus();this.newWindow.opener=window;return false;" title="Click here to start a text chat with an operator">Live Text Chat</a></li>
						<li class="rss"><a href="/portfolio" title="Click here to subscribe to the Northamber Promotions &amp; Offers RSS feed">RSS Offers Feed</a></li>
						<li class="xml"><a href="/portfolio" title="Click here to find our more info on the Northamber Gateway XML Data Feed">XML Data Feed</a></li>


					</ul>

				</div>

			</div>
		</div>


		<div id="footer">

			<a title="Click here to return to the top of the page" class="top" href="#">Skip To Top</a>

			<div id="footerLinks">
				<ul>
					<li><a href="/portfolio">Home</a> | </li>
					<li><a href="/portfolio">Site Map</a> | </li>
					<li><a href="/portfolio">Terms &amp; Conditions</a> | </li>
					<li><a href="/portfolio">Returns</a> | </li>
					<li><a href="/portfolio">Export Information</a> | </li>
					<li><a href="/portfolio">Investor Relations</a> | </li>
					<li><a href="/portfolio">About Us</a> | </li>
					<li><a href="/portfolio">Contact Us</a> | </li>
					<li><a href="/portfolio">Help</a></li>
				</ul>
			</div>

			<div id="smallPrint">
				<p>&copy; Northamber MMXIII. <acronym title="Errors and Omissions Excepted">E&amp;OE</acronym>. All prices exclude <acronym title="Value Added Tax">VAT</acronym> &amp; carriage. All trademarks acknowledged.</p>
				<p>Phone calls may be recorded for quality assurance and staff training purposes.</p>
				<p>All the product information is provided by a third party and shown in good faith as correct.</p>
				<p>Under the Companies Act (Trading Disclosures) Regulations 2008, Northamber <acronym title="Public Limited Company">PLC</acronym> is the registered trading name of Northamber <acronym title="Public Limited Company">PLC</acronym>.</p>
			</div>

		</div>
	</div>



</body>
</html>
