/***********************************************************************************************************************************************/
/* SETS/RESETS ALL THE DEFAULT STYLING FOR THE SITE */
/***********************************************************************************************************************************************/

/* BLOCK-LEVEL TAGS */
html, body,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
ul, ol, li,
table, caption, thead, tbody, tfoot, th, td,
form, fieldset,
figure, figcaption,
audio, video,
iframe, object, embed {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    line-height: 1;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* HTML5 stying for older browsers - Firefox 3-3.6, Chrome 4-5, Safari 3.1-4.0, Opera 9.0-11.0 */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display: block;
}

[hidden] {
    display: none; /* fix for browsers that do not support the HTML5 hidden attribute */
}

html, body {
    height: 100%;
}

/*
FONT-SIZE-ADJUST VALUES: (the value applied is the value for the first-choice font)
Font-Size-Adjust Calculator: http://fontdeck.com/support/fontsizeadjust
*/
body {
    color: #000;
    line-height: 1;
    word-wrap: break-word; /* word-wrap has been renamed to overflow-wrap */
    overflow-wrap: break-word; /* word-wrap/overflow-wrap does not work with dynamic widths (e.g. percentage widths, tables that are not set to layout="fixed") - you will need to use word-break instead for these */
    -webkit-font-smoothing: antialiased; /* maxvoltar.com/archive/-webkit-font-smoothing */
    font-size-adjust: 0.545;
}

p {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

img {
    border: 0;
    text-align: center;
}

[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
}

[draggable="true"] {
    cursor: move;
}


/* LINKS		========================================================================================================================*/
/*
ORDER:
1. a:link - link must have an href for this to work
2. a:visited
3. a:focus
4. a:hover
5. a:active
*/
a, input[type="image"] {
    color: #000;
    text-decoration: underline;
}

    a:focus,
    a:hover,
    input[type="image"]:focus,
    input[type="image"]:hover {
        color: #2c2c2b;
        text-decoration: none;
    }

    a:active {
        color: #2c2c2b;
        cursor: wait;
    }


/* LISTS		========================================================================================================================*/
ul, ol {
    list-style: none;
}


/* FORMS		========================================================================================================================*/
label[for] {
    cursor: pointer;
}

input, textarea, select {
    font: inherit;
    border: 1px solid #808080;
    border-width: 0.063em;
}

input {
    /* removes platform-native styling - http://css-tricks.com/almanac/properties/a/appearance/ */
    -webkit-appearance: none; /* https://developer.apple.com/library/safari/documentation/appleapplications/reference/safaricssref/Articles/StandardCSSProperties.html#//apple_ref/css/property/-webkit-appearance */
    -moz-appearance: none; /* https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance */
}

    input[type="submit"],
    input[type="button"],
    input[type="reset"],
    input[type="image"],
    input[type="checkbox"],
    input[type="radio"],
    button,
    select {
        cursor: pointer;
    }

textarea {
    resize: vertical;
}

button {
    font: inherit;
}

    /* removes the extra padding and border on buttons and input tags for Firefox browsers - http://css-tricks.com/forums/topic/button-padding-issue/ */
    button::-moz-focus-inner,
    input[type="button"]::-moz-focus-inner,
    input[type="submit"]::-moz-focus-inner,
    input[type="reset"]::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

/* HTML5 attribute styling http://html5doctor.com/css3-pseudo-classes-and-html5-forms/ */

input:invalid:focus {
    background-color: #FEBFBF;
}




abbr {
    border: none;
    speak: spell-out;
}

p abbr[title],
li abbr[title],
dd abbr[title],
p dfn[title],
li dfn[title] {
    border-bottom: 1px dotted #333;
    border-bottom-width: 0.063rem;
    cursor: help;
}


/* PSEUDO-CLASSES	========================================================================================================================*/
::selection {
    background-color: #FE4902;
    color: #FFF;
}

::-moz-selection {
    background-color: #FE4902;
    color: #FFF;
}
