/* MASTER STYLE SHEET - CSS1 */
/* supports IE 5, IE 6, Netscape 6, Netscape 7, Firefox 1, Opera 7 */

/*
 ------------------------------------------------------
 DEFAULT SETTINGS: SELECTORS & CLASSES
 ------------------------------------------------------
*/

/* TEXT: Start ================================================================================ */
/* Text Size: Start*/
body {
	background-color: #FFFFFF;
	font-size: 0.7em;
}

input, textarea, select {
	font-size: 1em;
}
/* Text Size: End*/

body, p, td, input, textarea, select {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	line-height: 1.4em;
	text-align: left;
	word-spacing: normal;
}

.smallprint {
	font-size: 0.9em;	
}

.warning {
	color: #CC0000;
	font-size: 1.1em;
	font-weight: bold;
}

/* TEXT: End ================================================================================ */


/* HEADINGS: Start ================================================================================ */
h1, h2, h3, h4, h5, h6 {
	margin-top: 1.6em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: 130%;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

h2 {
	font-size: 120%;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

h3 {
	font-size: 110%;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

h4, h5 {
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

/* HEADINGS: End ================================================================================ */


/* LINKS:Start ================================================================================ */
a {
	color: #CC0000;
	text-decoration: underline;
}

a:link {

}

a:visited {

}

a:focus {
	color: #CC0000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {

}

/* menu - creates a simple navigation menu with no rollover backgrounds */
.menu {
	background-color: transparent;
	font-weight: bold;
	text-align: left;
	width: 100%;
}

.menu p {
	display: none;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul li {
	margin: 0;
	padding: 0.3em 1em;
}

.menu ul li a {
	background-color: transparent;
}


/* menuRollover - creates a rollover-style navigation menu */
.menuRollover {
	background-color: #DD2211;
	width: 100%;
}

.menuRollover p {
	display: none;
}

.menuRollover ul {
	border-top: 1px solid #FFFFFF;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menuRollover ul li {
	margin: 0;
}

.menuRollover ul li a {
	background-image: none;
	background-position: left;
	background-repeat: no-repeat;
	border-bottom: 1px solid #FFFFFF;
	color: YELLOW;
	display: block;
	font-weight: bold;
	padding: 0.3em 8%;
	text-align: left;
	width: 100%; /* value for IE5 */
	voice-family: "\"}\"";
	voice-family: inherit;
	width: 84%; /* value for IE6 - calculated by subtracting left and right padding values from total width */
}

html>body .menuRollover ul li a {
	width: auto; /*value for non-IE browsers */
}

.menuRollover ul li a:focus, .menuRollover ul li a:hover {
	background-color: #FFFFFF;
	background-image: none;
	color: #DD2211 !important;
}

/* LINKS: End ================================================================================ */


/* IMAGES: Start ================================================================================ */
img {
	border: 0px;
}
/* IMAGES: End ================================================================================ */


/* FORMS: Start ================================================================================ */
form, input, textarea {
	margin: 0px;
}

form br {
	clear: left;
}

input.text {
	height: 1.1em;
	line-height: 1.1em;
}

html>body input.text{
	height: auto;
}

input[type="text"] { /* not IE5, IE6 */
	width: 140px;
}

input[type="button"], input[type="submit"], input[type="reset"]  { 
	background-color: #DD2211;
	border-width: 0px;
	color: #FFFFFF;
	font-variant: normal;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	width: auto;
	cursor: pointer;
}

input.button  { /* fix for IE5, IE6 - must be done separately */
	background-color: #DD2211;
	border-width: 0px;
	color: #FFFFFF;
	font-variant: normal;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	width: auto;
	cursor: pointer;
}

input.small {
	width: 4ex;
}

textarea {
	height: 5.5em;
}

/* frmStandard: form put in table format =============================================== */
/* fix IE5, IE6: start */
.frmStandard div {
	clear: both;
}

.frmStandard label, .frmStandard p {
	padding: 0.3em 0px;
}

.frmStandard label {
	padding-top: 0.5em;
	display: block;
	float: left;
}

.frmStandard p {
	float: right;
}

.frmStandard input {
	margin-left: 0.6em;
	margin-right: 0.3em;
}

html>body .frmStandard * {
	float: none;
}

html>body .frmStandard input {
	margin: 0px;
}
/* fix for IE5, IE6: end */

.frmStandard {
	display: table;
	border-collapse: collapse;
	empty-cells: show;
	margin: auto;
	table-layout: fixed;
	width: 400px;
}

.frmStandard div {
	display: table-row;
}

.frmStandard label, .frmStandard p {
	display: table-cell;
	vertical-align: top;
}

html>body .frmStandard label { /* fix for IE5, IE6 */
	border: none;
	padding: 0.3em;
}

html>body .frmStandard p { /* fix for IE5, IE6 */
	border: none;
	padding: 0.3em;
}

.frmStandard label {
	text-align: right;
	width: 100px;
}

.frmStandard p {
	text-align: left;
	width: 300px;
}

.frmStandard textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

.frmStandard input.button {
	float: right;
	margin-left: 10px;
	margin-right: 0px;
}

.frmSearch {
	margin-top: 30px;
	border-bottom: 5px solid #FFAA77 !important;
}

.frmSearch .button {
	background-color: #DD2211;
}

/* FORMS: End ================================================================================ */


/* TABLES: Start ================================================================================ */
table {
	border-collapse: collapse;
	empty-cells: show;
	table-layout: auto;
}

td, th {
	border: none;
	text-align: left;
	vertical-align: top;
}
/* TABLES: End ================================================================================ */

/* DIV TABLES: Start ================================================================================ */
/* creates standard 2 column div table */
.table {
	width: 100%;
}

.table div {
	float: left;
	width: 50%;
}
/* DIV TABLES: End ================================================================================ */

/* LISTS: Start ================================================================================ */
ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: disc;
}

ol {
	list-style-position: outside;
	list-style-type: ;
}


/* LISTS: End ================================================================================ */


/* MISCELLANEOUS: Start ================================================================================ */
#noscript {
	margin-top: 10px;
	text-align: center;
}


/* Text Box: Start */
.box {
	border-bottom: 1px solid #DD2211;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	padding-bottom: 1px;
	width: 100%;
	clear: both;
}

.box * {
	margin: 0px;
}

.box span {
	font-weight: normal;
	color: #DD2211;
}

.box .boxHeader {
	background-color: #FFAA77;
	height: 1.1em;
	text-align: right;
	margin-bottom: 1px;
	overflow: visible;
}

.box .boxHeader h1 {
	background-color: #FFFFFF;
	display: inline;
	margin: 0px 15px;
	font-size: 1.1em;
	line-height: 12px;
	color: #DD2211;
	padding: 0px 0.3em;
	text-transform: uppercase;
}

.box h2 {
	margin-top: 1.3em;
	margin-bottom: 0.5em;
	border-bottom: 1px solid #DD2211;
}

.box h3 {
	background-color: #F7E6E7;
	color: #DD2211;
	padding: 0.2em 0.4em;
	margin-top: 0.4em;
}

.box div.form {
	float: left;
	width: 33.33%
}

.box select {
	width: 148px;
}

.box .links {
	text-align: right;
	font-size: 0.8em;
	margin-top: 1em;
}

.box .button {
	float: right;
	margin: 5px 0;
}

.box .boxText {
	border-top: 1px solid #DD2211;
	clear: both;
	width: 100%;
}

.box .first {
	border-width: 0px;
}

.box img {
	float: left;
	margin-right: 12px;
}
/* Text Box: End */

/* MISCELLANEOUS: End ================================================================================ */












/*
 ------------------------------------------------------
 PAGE SETTINGS: IDs
 ------------------------------------------------------
*/


/* PAGE TEMPLATE: Start ================================================================================ */

body {
	margin: 0px;
	padding: 0px;
}

#container {
	background-image: url(/images/portfolio/fse/bgBody.gif);
	background-position: center;
	background-repeat: repeat-y;
	margin: auto;
	width: 760px;
}

#header {
	background-color: #EE8844;
	border-bottom: 2px solid #FFFFFF;
	height: 93px;
	position: relative;
	width: 100%;
	background-image: url(/images/portfolio/fse/headerFSE.gif);
	background-position: 136px;
	background-repeat: no-repeat;
}

#header * {
	color: #FFFFFF;
	margin: 0px;
}

#header h1, #header h2 {
	font-size: 1.05em;
	font-style: normal;
	font-family: "Times New Roman", Times, serif;
}

#header h1 {
	float: left;
	padding: 15px 0px 0px 10px;
	width: 126px;
	height: 78px;
	background-color: #DD2211;
}

#imgCMP {
	position: absolute;
	top: 50px;
	left: 15px;
}

#header h2 {
	text-align: right;
	margin-right: 12px;
	padding-top: 15px;
}

#header p {
	text-align: right;
	margin-right: 12px;
	clear: right;
}

#headerMenuBar {
	background-color: #CCCCDD;
	border-bottom: 2px solid #FFFFFF;
	line-height: 28px;
	height: 28px;
	width: 100%;
}

#lBody {
	color: #FFFFFF;
	float: left;
	width: 145px;
	overflow: hidden;
}

#lBody * {
	color: #FFFFFF;
	margin: 0px;
}

#cBody {
	float: left;
	width: 470px;
	overflow: hidden;
}

#content {
	padding: 0px 10px;
}

#rBody {
	float: left;
	width: 145px;
	overflow: hidden;
}

#rBody * {
	color: #FFFFFF;
	margin: 0px;
}

#footer {
	background-color: #DD2211;
	color: white;
	height: 28px;
	line-height: 28px;
	position: relative;
	text-align: center;
	font-size: 0.9em;
	border-top: 2px solid #FFFFFF;
}

#footer a {
	color: #FFFFFF;
}

#imgHeader {
	display: block;
}

#frmQuickSearch {
	float: left;
	width: 145px;
	margin-top: 5px;
}

#frmQuickSearch input.text {
	border: 1px solid #7799BB;
	height: 16px;
	width: 105px;
	float: left;
	margin-left: 10px;
	font-weight: bold;
	line-height: 15px;
	padding-left: 3px;
}

#frmQuickSearch .button {
	background-color: #554477;
	height: 18px;
	width: 22px;
	float: right;
}

#headerMenuBarLeftText {
	float: left;
	font-weight: bold;
	margin-left: 15px;
}

#headerMenuBarRightText {
	float: right;
	font-weight: bold;
	margin-right: 15px;
}

#menuLeftTop {
	border-width: 0px;
	text-transform: uppercase;
}

#menuLeftTop a {
	text-decoration: none;
}

#menuLeftBottom {
	background-color: #EEAA77;
	border-top: 1px solid #FFFFFF;
}

#menuLeftBottom a {
	color: #DD2211;
	text-decoration: none;
}

#fseAward {
	background-image: url(/images/portfolio/fse/bgFSEAward.gif);
	background-position: center center;
	background-repeat: no-repeat;
	height: 39px;
	border-top: 2px solid #FFFFFF;
}

#frmSurvey {
	background-color: #444477;
	padding: 15px 8px;
	border-top: 2px solid #FFFFFF;
}

#frmSurvey h3 {
	color: #FDCDAD;
}

#frmSurvey p {
	font-weight: bold;
}

#frmSurvey .button {
	margin: 10px auto;
	display: block;
	border-width: 0px;
	background-color: #FDCDAD;
	color: #444477;
}

#subscribe {
	background-image: url(/images/portfolio/fse/subscribe.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #DD2211;
	border-bottom: 2px solid #FFFFFF;
	height: 40px;
}

#frmEmailUpdate {
	background-color: #DD6611;
	border-bottom: 2px solid #FFFFFF;
	padding: 5px;
	padding-left: 8px;
}

#frmEmailUpdate h3 {
	margin-bottom: 0.3em;
}

#frmEmailUpdate input {
	width: 124px;
	margin: auto;
	border: 1px solid #000000;
	color: #000000;
}

#frmEmailUpdate input.button {
	width: auto;
	margin-top: 5px;
	margin-bottom: 3px;
	margin-right: 6px;
	background-color: #DD2211;
	border-width: 0px;
	color: #FFFFFF;
}

#tellFriend {
	background-image: url(/images/portfolio/fse/tellFriend.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #DD2211;
	border-bottom: 2px solid #FFFFFF;
	height: 40px;
}

#advertisements h3 {
	margin-top: 4px;
}

#advertisements img {
	margin: 0px auto;
	margin-top: 10px;
}

/* PAGE TEMPLATE: END ================================================================================ */

/* HOME PAGE: Start ================================================================================ */

#boxThisMonth .boxText {
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	float: right;
	clear: none;
	width: 295px;
}

#boxThisMonth span {
	font-weight: bold;
}

#boxThisMonth img {
	float: left;
	display: block;
}

#boxProducts {
	border-color: #EE5555;
}

#boxProducts .boxHeader{
	background-color: #EE5555;
}

#boxProducts img {
	border-bottom: 1px solid #FFFFFF;
}

#boxProducts .boxText h3 {
	margin-top: 0.3em;
}

#boxProducts .feature {
	background-color: #F7E6E7;
	border-color: #FFFFFF;
}

#boxArticles .boxHeader{
	background-color: #666699;
}

#boxArticles img {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

#boxArticles .boxText h3 {
	padding-top: 0.4em;
}

#boxJobs {
	width: 212px;
	float: left;
	clear: left;
	height: 195px;
}

#boxJobs .boxHeader {
	background-color: #CCADBB;
	text-align: left;
}

#boxJobs h3 {
	margin-top: 0.4em;
	color: #DD2211;
}

#boxForthcoming {
	width: 212px;
	float: right;
	clear: right;
	height: 195px;
}

#boxForthcoming .boxHeader {
	background-color: #AAAAAA;
}

#boxForthcoming .boxText {
	padding-bottom: 0.3em;
}

#boxForthcoming .boxText h3 {
	margin-top: 0.3em;
}

#latestIssue {
	background-color: #DD2211;
	border-bottom: 1px solid #FFFFFF;
}

#latestIssue h3 {
	text-align: right;
	padding: 5px 10px;
	padding-right: 10px;
}

/* HOME PAGE: END ================================================================================ */

/* PRODUCT 1 PAGE: Start ================================================================================ */

#relatedProducts h4 {
	margin: 0.5em 0;
}



/* PRODUCT 1 PAGE: End ================================================================================ */

/* JOBS PAGE: Start ================================================================================ */

#boxJobsList {
	padding-bottom: 0.3em;
}

#boxJobsList .boxHeader {
	background-color: #CCADBB;
	margin-bottom: 15px;
}

#boxJobsList h4 {
	border-top: 1px solid #DD2211;
	margin-top: 0.5em;
	padding-top: 0.2em;
}

#frmSearchJobs {
	margin-top: 30px;
}

/* JOBS PAGE: End ================================================================================ */

/* SEARCH PAGE: Start =============================================================================== */

#boxAdvancedSearch {
	border-bottom-width: 0;
}

#boxAdvancedSearch .boxHeader {
	margin-bottom: 15px;
}

#boxAdvancedSearch h3 {
	background-color: transparent;
	border-bottom: 1px solid #FFFFFF;
}

#boxAdvancedSearch form {
	border-width: 0;
	width: 49%;
	clear: none;
	background-color: #F7E6E7;
}

#boxAdvancedSearch form div.button {
	border-top: 1px solid #FFFFFF;
	width: 100%;
	text-align: center;
	margin: 0;
}

#boxAdvancedSearch form input.text, #boxAdvancedSearch form select {
	margin: 0 0.5em;
	margin-bottom: 0.4em;
	width: 205px;
}

#boxAdvancedSearch form h3 {
	margin: 0;
}

#boxAdvancedSearch form h4 {
	margin-left: 0.5em;
}

#boxAdvancedSearch form input.button {
	float: none;
	text-transform: uppercase;
}

#frmAdvSearchEditorial {
	float: left;
}

#frmAdvSearchJobs {
	float: right;
}


#boxSearchResults {
	border-bottom: 1px solid #DD2211;
}

#boxSearchResults h4 {
	border-top: 1px solid #DD2211;
	border-bottom: 1px solid #DD2211;
	margin: 0.8em 0;
}

#boxSearchResults h5 {
	color: #DD2211;
}

#boxSearchResults span {
	color: #000000;
	font-weight: bold;
}

#boxSearchResults p {
	margin-bottom: 1em;
}
/* SEARCH PAGE: End =============================================================================== */
