@{
    ViewBag.Title = "Convert English";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "home")</li>
        <li>@Html.ActionLink("Utilities", "index", "utilities")</li>
        <li>Convert English</li>
    </ol>
}

@section Navigation {
    @Html.Partial("~/views/shared/_nav-utilities.cshtml")
}

<article>
    <h1>Convert English</h1>

    @using (Html.BeginForm())
    {
        <textarea name="text" required="required"></textarea>
        <button>British To American English</button>
    }

</article>
