@{
    ViewBag.Title = "Convert PX to REM";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "home")</li>
        <li>@Html.ActionLink("Utilities", "index", "utilities")</li>
        <li>Convert PX to REM</li>
    </ol>
}

@section Navigation {
    @Html.Partial("~/views/shared/_nav-utilities.cshtml")
}

<article>
    <h1>Convert PX to REM</h1>

    <p>Paste CSS/SASS here and it will convert all pixel units to rem units.</p>

    @using (Html.BeginForm())
    {
        <textarea name="css"></textarea>
        <button>Go</button>
    }

</article>