@model PA.Models.EncodeHtmlModel
@{
    ViewBag.Title = "Convert Entities";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "home")</li>
        <li>@Html.ActionLink("Utilities", "index", "utilities")</li>
        <li>Convert Entities</li>
    </ol>
}

@section Navigation {
    @Html.Partial("~/views/shared/_nav-utilities.cshtml")
}

<article>
    <h1>Convert HTML Entities to Number Entities</h1>
    @using (Html.BeginForm())
    {
        @Html.TextAreaFor(m => m.Html, new { required = "required" })
        <button>Go</button>
    }
</article>