@model PA.Models.EncodeHtmlModel
@{
    ViewBag.Title = "Convert English";
}

@section Breadcrumb {
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "index", "home")</li>
        <li>@Html.ActionLink("Utilities", "index", "utilities")</li>
        <li>Convert English</li>
    </ol>
}

@section Navigation {
    @Html.Partial("~/views/shared/_nav-utilities.cshtml")
}

<article>
    <h1>Convert English</h1>

    @using (Html.BeginForm())
    {
        @Html.TextAreaFor(m => m.Html, new { required = "required" })
        <button name="lang" value="en-us">British To American English</button>
        <button name="lang" value="en-gb">American To British English</button>
    }

</article>
