@{
	ViewBag.Title = "Browser Support | CSS | Reference";
}

@section Breadcrumb {
	<ol class="breadcrumb">
		<li>@Html.ActionLink("Home", "index", "home", new { area = "" }, null)</li>
		<li>@Html.ActionLink("Reference", "index", "reference")</li>
		<li>CSS</li>
		<li>Browser Support</li>
	</ol>
}

<article>

	<h1>Browser <abbr title="Cascading Style Sheets">CSS</abbr> Support</h1>

	<table class="browserSupport">
		<caption>CSS Selectors</caption>
		<thead>
			<tr>
				<th>Selector</th>
				<th>IE</th>
				<th>Firefox</th>
				<th>Chrome</th>
				<th>Safari</th>
				<th>Opera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th colspan="6">Element</th>
			</tr>
			<tr>
				<td>*</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E.class</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E#id</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>ns|E</td>
				<td class="iePrev">9</td>
				<td>1</td>
				<td>1</td>
				<td>1.3</td>
				<td>7</td>
			</tr>
			<tr>
				<th colspan="6">Relationship</th>
			</tr>
			<tr>
				<td>E F</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E &gt; F</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E + F</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E ~ F</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<th colspan="6">Attribute Selectors</th>
			</tr>
			<tr>
				<td>E[attr]</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E[attr="attr"]</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E[attr~="attr"]</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E[attr|="attr"]</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E[attr^="attr"]</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E[attr$="attr"]</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<td>E[attr*="attr"]</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<td>E[ns|attr]</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>9</td>
			</tr>
			<tr>
				<th colspan="6">Pseudo-Classes</th>
			</tr>
			<tr>
				<td>E:link</td>
				<td>3.0</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E:visited</td>
				<td>3.0</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E:active</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E:hover</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E:focus</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E:first-child</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E:lang()</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>@@page:first</td>
				<td>8</td>
				<td></td>
				<td></td>
				<td></td>
				<td>9</td>
			</tr>
			<tr>
				<td>@@page:left</td>
				<td>8</td>
				<td></td>
				<td></td>
				<td></td>
				<td>9</td>
			</tr>
			<tr>
				<td>@@page:right</td>
				<td>8</td>
				<td></td>
				<td></td>
				<td></td>
				<td>9</td>
			</tr>
			<tr>
				<td>E:root</td>
				<td class="iePrev">9</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:first-of-type</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td>3.2</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:last-child</td>
				<td class="iePrev">9</td>
				<td>1</td>
				<td>1</td>
				<td>3.2</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:last-of-type</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td>3.2</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:only-child</td>
				<td class="iePrev">9</td>
				<td>1.5</td>
				<td>2</td>
				<td>3.1</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:only-of-type</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td>3.2</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:nth-child</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td>3.1</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:nth-last-child</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>4</td>
				<td>3.2</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:nth-of-type</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td>3.1</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:nth-last-of-type</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>4</td>
				<td>3.2</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:target</td>
				<td class="iePrev">9</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>2.5 [2.1]</td>
			</tr>
			<tr>
				<td>E:empty</td>
				<td class="iePrev">9</td>
				<td>1.5</td>
				<td>1</td>
				<td>3.1</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:not()</td>
				<td class="iePrev">9</td>
				<td>1</td>
				<td>1</td>
				<td>3.2</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>E:enabled</td>
				<td class="iePrev">9</td>
				<td>1.5</td>
				<td>1</td>
				<td>3.1</td>
				<td>9</td>
			</tr>
			<tr>
				<td>E:disabled</td>
				<td class="iePrev">9</td>
				<td>1.5</td>
				<td>1</td>
				<td>3.1</td>
				<td>9</td>
			</tr>
			<tr>
				<td>E:checked</td>
				<td class="iePrev">9</td>
				<td>1</td>
				<td>1</td>
				<td>3.1</td>
				<td>9</td>
			</tr>
			<tr>
				<td>E:indeterminate</td>
				<td class="iePrev">9</td>
				<td>3.6</td>
				<td>1</td>
				<td>3</td>
				<td>10.6</td>
			</tr>
			<tr>
				<td>E:default</td>
				<td></td>
				<td>4</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<td>E:valid</td>
				<td class="ieCurr">10</td>
				<td>4</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<td>E:invalid</td>
				<td class="ieCurr">10</td>
				<td>4</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<td>E:in-range</td>
				<td></td>
				<td></td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<td>E:out-of-range</td>
				<td></td>
				<td></td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<td>E:required</td>
				<td class="ieCurr">10</td>
				<td>4</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<td>E:optional</td>
				<td class="ieCurr">10</td>
				<td>4</td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<td>E:read-only</td>
				<td></td>
				<td></td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<td>E:read-write</td>
				<td></td>
				<td></td>
				<td>10</td>
				<td>5</td>
				<td>10</td>
			</tr>
			<tr>
				<th colspan="6">Pseudo-Elements</th>
			</tr>
			<tr>
				<td>E:first-letter</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>E:first-line</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>E:before</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>4</td>
				<td>4</td>
			</tr>
			<tr>
				<td>E:after</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>4</td>
				<td>4</td>
			</tr>
			<tr>
				<td>E::before</td>
				<td class="iePrev">9</td>
				<td>1.5</td>
				<td>1</td>
				<td>4</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E::after</td>
				<td class="iePrev">9</td>
				<td>1.5</td>
				<td>1</td>
				<td>4</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E::first-letter</td>
				<td class="iePrev">9</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E::first-line</td>
				<td class="iePrev">9</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>E::selection</td>
				<td class="iePrev">9</td>
				<td>[1]</td>
				<td>1</td>
				<td>1.1</td>
				<td>9.5</td>
			</tr>
		</tbody>
	</table>
	<table class="browserSupport">
		<caption>CSS Properties</caption>
		<thead>
			<tr>
				<th>Property</th>
				<th>IE</th>
				<th>Firefox</th>
				<th>Chrome</th>
				<th>Safari</th>
				<th>Opera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th colspan="6">Box Model</th>
			</tr>
			<tr>
				<td>margin</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>padding</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>width</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>height</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>float</td>
				<td>5.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>clear</td>
				<td>5.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>display (none | inline | block)</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>display (inline-block)</td>
				<td>5.5</td>
				<td>3.0 [1.0]</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>display (list-item)</td>
				<td>6</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>display (run-in)</td>
				<td>8</td>
				<td></td>
				<td>4</td>
				<td>5</td>
				<td>7</td>
			</tr>
			<tr>
				<td>display (table)</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>display (inline-table)</td>
				<td>8</td>
				<td>3.0 [1.0]</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>min-width</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>max-width</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>min-height</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>max-height</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>clip</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>overflow</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>visibility (visible | hidden)</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>visibility (inherit)</td>
				<td></td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>visibility (collapse)</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>overflow-x</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>overflow-y</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>9.5</td>
			</tr>
			<tr>
				<th colspan="6">Borders</th>
			</tr>
			<tr>
				<td>border</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-color</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-style</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-width</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-top</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-top-width</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-right</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-right-width</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-bottom</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-bottom-width</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-left</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-left-width</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-top-color</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-top-style</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-right-color</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-right-style</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-bottom-color</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-bottom-style</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-left-color</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-left-style</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>border-radius</td>
				<td class="iePrev">9</td>
				<td>4 [1]</td>
				<td>4 [0.2]</td>
				<td>5 [3]</td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>border-image</td>
				<td class="ieNext">11</td>
				<td class="fxPrev">15 [3.5]</td>
				<td>16 [4]</td>
				<td class="sfCurr">6 [3.1]</td>
				<td class="opCurr">15 [10.5]</td>
			</tr>
			<tr>
				<td>box-shadow</td>
				<td class="iePrev">9</td>
				<td>4 [3.5]</td>
				<td>10 [1]</td>
				<td>5.1 [3]</td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>box-decoration-break</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>11</td>
			</tr>
			<tr>
				<th colspan="6">Line Layout</th>
			</tr>
			<tr>
				<td>line-height</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>vertical-align</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<th colspan="6">Positioning</th>
			</tr>
			<tr>
				<td>position (static|relative|absolute)</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>3.1</td>
				<td>4</td>
			</tr>
			<tr>
				<td>position (fixed)</td>
				<td>7</td>
				<td>1</td>
				<td>1</td>
				<td>3.1</td>
				<td>4</td>
			</tr>
			<tr>
				<td>top</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>3.1</td>
				<td>4</td>
			</tr>
			<tr>
				<td>right</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>3.1</td>
				<td>4</td>
			</tr>
			<tr>
				<td>bottom</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>3.1</td>
				<td>4</td>
			</tr>
			<tr>
				<td>left</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>3.1</td>
				<td>4</td>
			</tr>
			<tr>
				<td>z-index</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>3.1</td>
				<td>4</td>
			</tr>
			<tr>
				<th colspan="6">Generated and Replaced Content</th>
			</tr>
			<tr>
				<td>quotes</td>
				<td>8</td>
				<td>1.5</td>
				<td>11</td>
				<td></td>
				<td>4</td>
			</tr>
			<tr>
				<td>content</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>3.1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>counter-increment</td>
				<td>8</td>
				<td>2</td>
				<td>1</td>
				<td>3.1</td>
				<td>9.2</td>
			</tr>
			<tr>
				<td>counter-reset</td>
				<td>8</td>
				<td>2</td>
				<td>1</td>
				<td>3.1</td>
				<td>9.2</td>
			</tr>
			<tr>
				<th colspan="6">Lists</th>
			</tr>
			<tr>
				<td>list-style</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>list-style-image</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>list-style-position</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>list-style-type (none | disc | circle | sqare | decimal | lower-alpha | upper-alpha | lower-roman | upper-roman )</td>
				<td>4.0</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>list-style-type (lower-latin | upper-latin | lower-greek | armenian | georgian | decimal-leading-zero)</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>8</td>
			</tr>
			<tr>
				<td>list-style-type (hebrew | cjk-ideographic | hiragana | hiragana-iroha | katakana | katakana-iroha)</td>
				<td></td>
				<td>1</td>
				<td>1</td>
				<td>1.2</td>
				<td>7</td>
			</tr>
			<tr>
				<th colspan="6">Colors</th>
			</tr>
			<tr>
				<td>color</td>
				<td>3</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>opacity</td>
				<td class="iePrev">9 [4]</td>
				<td>1</td>
				<td>1</td>
				<td>1.2</td>
				<td>9</td>
			</tr>
			<tr>
				<th colspan="6">Backgrounds</th>
			</tr>
			<tr>
				<td>background</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>background-attachment</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>background-color</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>background-image</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>background-position</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>background-repeat</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>background (multiple)</td>
				<td class="iePrev">9</td>
				<td>3.6</td>
				<td>1</td>
				<td>1.3</td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>background-clip</td>
				<td class="iePrev">9</td>
				<td>4 [1]</td>
				<td>1</td>
				<td>3</td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>background-origin</td>
				<td class="iePrev">9</td>
				<td>4 [1]</td>
				<td>1</td>
				<td>3</td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>background-size</td>
				<td class="iePrev">9</td>
				<td>4 [3.6]</td>
				<td>3 [1]</td>
				<td>4.1 [3]</td>
				<td>10 [9.5]</td>
			</tr>
			<tr>
				<th colspan="6">Fonts</th>
			</tr>
			<tr>
				<td>font</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>6</td>
			</tr>
			<tr>
				<td>font-family</td>
				<td>3</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>font-size</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>font-style</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>font-variant</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>font-weight</td>
				<td>3</td>
				<td>1</td>
				<td>2</td>
				<td>3.1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>font-size-adjust</td>
				<td class="ieCurr">10</td>
				<td>3</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>font-stretch</td>
				<td class="iePrev">9</td>
				<td>9</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>font-feature-settings</td>
				<td class="ieCurr">10</td>
				<td>[2.0]</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th colspan="6">Text</th>
			</tr>
			<tr>
				<td>text-align</td>
				<td>3</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>text-decoration</td>
				<td>3</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>text-indent</td>
				<td>3</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>text-transform</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<td>letter-spacing</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>word-spacing</td>
				<td>6</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>white-space (normal | nowrap | pre)</td>
				<td>6</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>4</td>
			</tr>
			<tr>
				<td>white-space (pre-wrap | pre-line)</td>
				<td>8</td>
				<td>3.5 [3]</td>
				<td>1</td>
				<td>3</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>direction</td>
				<td>5.5</td>
				<td>1</td>
				<td>2</td>
				<td>1.3</td>
				<td>9.2</td>
			</tr>
			<tr>
				<td>unicode-bidi</td>
				<td>5.5</td>
				<td>1</td>
				<td>2</td>
				<td>1.3</td>
				<td>9.2</td>
			</tr>
			<tr>
				<td>text-shadow</td>
				<td class="ieCurr">10</td>
				<td>3.5</td>
				<td>2</td>
				<td>1.1</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>text-overflow (ellipsis | clip)</td>
				<td>6</td>
				<td>7</td>
				<td>1</td>
				<td>1.3</td>
				<td>11 [9]</td>
			</tr>
			<tr>
				<td>text-overflow (inherit | ellipsis-word)</td>
				<td></td>
				<td>9</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>word-break</td>
				<td>5.5</td>
				<td class="fxPrev">15</td>
				<td>1</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>hyphens</td>
				<td>[10]</td>
				<td>[6]</td>
				<td>[13]</td>
				<td>[5.1]</td>
				<td></td>
			</tr>
			<tr>
				<td>word-wrap</td>
				<td>5.5</td>
				<td>3.5</td>
				<td>1</td>
				<td>1</td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>text-align-last</td>
				<td>5.5</td>
				<td>[12]</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>text-justify</td>
				<td>5.5</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>punctuation-trim</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>text-emphasis</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>text-outline</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>hanging-punctuation</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>text-decoration-style</td>
				<td></td>
				<td>[6]</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>text-decoration-color</td>
				<td></td>
				<td>[6]</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>text-decoration-line</td>
				<td></td>
				<td>[6]</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th colspan="6">Tables</th>
			</tr>
			<tr>
				<td>border-collapse</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1.2</td>
				<td>4</td>
			</tr>
			<tr>
				<td>border-spacing</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>4</td>
			</tr>
			<tr>
				<td>caption-side</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>4</td>
			</tr>
			<tr>
				<td>empty-cells</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1.2</td>
				<td>4</td>
			</tr>
			<tr>
				<td>table-layout</td>
				<td>5</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>7</td>
			</tr>
			<tr>
				<th colspan="6">User Interface</th>
			</tr>
			<tr>
				<td>cursor (auto | crosshair | default | move | text | wait | help | n-resize | e-resize | s-resize |w-resize | ne-resize | nw-resize | se-resize | sw-resize)</td>
				<td>4</td>
				<td>1</td>
				<td>1</td>
				<td>1.2</td>
				<td>7</td>
			</tr>
			<tr>
				<td>cursor (pointer)</td>
				<td>6</td>
				<td>1</td>
				<td>1</td>
				<td>1.2</td>
				<td>7</td>
			</tr>
			<tr>
				<td>cursor (progress)</td>
				<td>6</td>
				<td>1</td>
				<td>1</td>
				<td>3</td>
				<td>7.2</td>
			</tr>
			<tr>
				<td>cursor (url)</td>
				<td>6</td>
				<td>1.5</td>
				<td>1</td>
				<td>3</td>
				<td></td>
			</tr>
			<tr>
				<td>cursor (not-allowed | no-drop | vertical-text | all-scroll | col-resize | row-resize)</td>
				<td></td>
				<td>1.5</td>
				<td>1</td>
				<td>3</td>
				<td></td>
			</tr>
			<tr>
				<td>cursor (none)</td>
				<td></td>
				<td>3</td>
				<td>5</td>
				<td>5</td>
				<td></td>
			</tr>
			<tr>
				<td>cursor (inherit)</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td>1.2</td>
				<td>9</td>
			</tr>
			<tr>
				<td>outline</td>
				<td>8</td>
				<td>1.5 [1]</td>
				<td>1</td>
				<td>1.2</td>
				<td>7</td>
			</tr>
			<tr>
				<td>outline-color</td>
				<td>8</td>
				<td>1.5 [1]</td>
				<td>1</td>
				<td>1.2</td>
				<td>7</td>
			</tr>
			<tr>
				<td>outline-style</td>
				<td>8</td>
				<td>1.5 [1]</td>
				<td>1</td>
				<td>1.2</td>
				<td>7</td>
			</tr>
			<tr>
				<td>outline-width</td>
				<td>8</td>
				<td>1.5 [1]</td>
				<td>1</td>
				<td>1.2</td>
				<td>7</td>
			</tr>
			<tr>
				<td>outline-offset</td>
				<td></td>
				<td>1.5 [1]</td>
				<td>1</td>
				<td>1.2</td>
				<td>7</td>
			</tr>
			<tr>
				<td>outline-radius</td>
				<td></td>
				<td>[1.0]</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>box-sizing</td>
				<td>8</td>
				<td>[1]</td>
				<td>9 [1]</td>
				<td>
					<span>5.1</span> [3]</td>
				<td>7</td>
			</tr>
			<tr>
				<td>resize</td>
				<td></td>
				<td>4</td>
				<td>1</td>
				<td>3</td>
				<td></td>
			</tr>
			<tr>
				<td>appearance</td>
				<td></td>
				<td>[1.0]</td>
				<td><span>[522]</span></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>icon</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>nav-index</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>nav-up</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>nav-right</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>nav-down</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>nav-left</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>9.5</td>
			</tr>
			<tr>
				<th colspan="6">Paged Media</th>
			</tr>
			<tr>
				<td>page-break-after</td>
				<td>4.0</td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>page-break-before</td>
				<td>4.0</td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>page-break-inside</td>
				<td>8</td>
				<td class="fxCurr">19</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>orphans</td>
				<td>8</td>
				<td></td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>widows</td>
				<td>8</td>
				<td></td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>page</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>size</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>image-orientation</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>object-fit</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>11</td>
			</tr>
			<tr>
				<td>object-position</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>11</td>
			</tr>
			<tr>
				<th colspan="6">Speech</th>
			</tr>
			<tr>
				<td>cue</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>cue-after</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>cue-before</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>pause</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>pause-after</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>pause-before</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>speak</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>voice-family</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>voice-balance</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>[2.5]</td>
			</tr>
			<tr>
				<td>voice-duration</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>[2.5]</td>
			</tr>
			<tr>
				<td>voice-pitch</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>[2.5]</td>
			</tr>
			<tr>
				<td>voice-pitch-range</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>[2.5]</td>
			</tr>
			<tr>
				<td>voice-rate</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>[2.5]</td>
			</tr>
			<tr>
				<td>voice-stress</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>[2.5]</td>
			</tr>
			<tr>
				<td>voice-volume</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>[2.5]</td>
			</tr>
			<tr>
				<td>interpret-as</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>[2.5]</td>
			</tr>
			<tr>
				<td>phonemes</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>[2.5]</td>
			</tr>
			<tr>
				<td>rest</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>rest-after</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>rest-before</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>mark</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>mark-after</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>mark-before</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th colspan="6">Media Queries</th>
			</tr>
			<tr>
				<td>width</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td class="sf4">4</td>
				<td>9</td>
			</tr>
			<tr>
				<td>height</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td class="sf4">4</td>
				<td>9</td>
			</tr>
			<tr>
				<td>device-width</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td class="sf4">4</td>
				<td>9</td>
			</tr>
			<tr>
				<td>device-height</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td class="sf4">4</td>
				<td>9</td>
			</tr>
			<tr>
				<td>device-aspect-ratio</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td class="sf4">4</td>
				<td>9</td>
			</tr>
			<tr>
				<td>orientation</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>aspect-ratio</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td></td>
				<td></td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>color</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td></td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>color-index</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td></td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>monochrome</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td></td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>resolution</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td></td>
				<td></td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>scan</td>
				<td class="iePrev">9</td>
				<td></td>
				<td></td>
				<td></td>
				<td>10.5</td>
			</tr>
			<tr>
				<td>grid</td>
				<td class="iePrev">9</td>
				<td></td>
				<td></td>
				<td></td>
				<td>10.5</td>
			</tr>
			<tr>
				<th colspan="6">Ruby Characters</th>
			</tr>
			<tr>
				<td>ruby-position</td>
				<td>5.0</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>ruby-align</td>
				<td>5.0</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>ruby-overhang</td>
				<td>5.0</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>ruby-span</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<th colspan="6">Multi-Column Layout</th>
			</tr>
			<tr>
				<td>column-count</td>
				<td class="ieCurr">10</td>
				<td>[1.5]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>11.1</td>
			</tr>
			<tr>
				<td>column-width</td>
				<td class="ieCurr">10</td>
				<td>[1.5]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>11.1</td>
			</tr>
			<tr>
				<td>column-gap</td>
				<td class="ieCurr">10</td>
				<td>[1.5]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>11.1</td>
			</tr>
			<tr>
				<td>column-rule</td>
				<td class="ieCurr">10</td>
				<td>[3.5]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>11.1</td>
			</tr>
			<tr>
				<td>columns</td>
				<td class="ieCurr">10</td>
				<td>[9]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>11.1</td>
			</tr>
			<tr>
				<td>column-break-before</td>
				<td class="ieCurr">10</td>
				<td></td>
				<td>[522]</td>
				<td></td>
				<td>11.1</td>
			</tr>
			<tr>
				<td>column-break-after</td>
				<td class="ieCurr">10</td>
				<td></td>
				<td>[522]</td>
				<td></td>
				<td>11.1</td>
			</tr>
			<tr>
				<td>column-break-inside</td>
				<td class="ieCurr">10</td>
				<td></td>
				<td>[522]</td>
				<td></td>
				<td>11.1</td>
			</tr>
			<tr>
				<td>column-fill</td>
				<td class="ieCurr">10</td>
				<td>[13]</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>column-span</td>
				<td class="ieCurr">10</td>
				<td></td>
				<td></td>
				<td></td>
				<td>11.1</td>
			</tr>
			<tr>
				<th colspan="6">Animation</th>
			</tr>
			<tr>
				<td>animation</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [5]</td>
				<td>[1]</td>
				<td>[4]</td>
				<td>
					<span>12.5</span> [12]</td>
			</tr>
			<tr>
				<td>animation-delay</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [5]</td>
				<td>[1]</td>
				<td>[4]</td>
				<td>
					<span>12.5</span> [12]</td>
			</tr>
			<tr>
				<td>animation-direction</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [5]</td>
				<td>[1]</td>
				<td>[4]</td>
				<td>
					<span>12.5</span> [12]</td>
			</tr>
			<tr>
				<td>animation-duration</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [5]</td>
				<td>[1]</td>
				<td>[4]</td>
				<td>
					<span>12.5</span> [12]</td>
			</tr>
			<tr>
				<td>animation-iteration-count</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [5]</td>
				<td>[1]</td>
				<td>[4]</td>
				<td>
					<span>12.5</span> [12]</td>
			</tr>
			<tr>
				<td>animation-name</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [5]</td>
				<td>[1]</td>
				<td>[4]</td>
				<td>
					<span>12.5</span> [12]</td>
			</tr>
			<tr>
				<td>animation-play-state</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [5]</td>
				<td>[1]</td>
				<td>[4]</td>
				<td>
					<span>12.5</span> [12]</td>
			</tr>
			<tr>
				<td>animation-timing-function</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [5]</td>
				<td>[1]</td>
				<td>[4]</td>
				<td>
					<span>12.5</span> [12]</td>
			</tr>
			<tr>
				<td>animation-fill-mode</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [5]</td>
				<td>[1]</td>
				<td>[4]</td>
				<td>
					<span>12.5</span> [12]</td>
			</tr>
			<tr>
				<th colspan="6">2D Transforms</th>
			</tr>
			<tr>
				<td>transform</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [3.5]</td>
				<td>[1]</td>
				<td>[3.1]</td>
				<td>
					<span>12.5</span> [10.5]</td>
			</tr>
			<tr>
				<td>tranform-origin</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [3.5]</td>
				<td>[1]</td>
				<td>[3.1]</td>
				<td>
					<span>12.5</span> [10.5]</td>
			</tr>
			<tr>
				<th colspan="6">3D Transforms</th>
			</tr>
			<tr>
				<td>transform</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [10]</td>
				<td>[12]</td>
				<td>[4]</td>
				<td></td>
			</tr>
			<tr>
				<td>transform-origin</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [10]</td>
				<td>[12]</td>
				<td>[4]</td>
				<td></td>
			</tr>
			<tr>
				<td>transform-style</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [10]</td>
				<td>[12]</td>
				<td>[4]</td>
				<td></td>
			</tr>
			<tr>
				<td>perspective</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [10]</td>
				<td>[12]</td>
				<td>[4]</td>
				<td></td>
			</tr>
			<tr>
				<td>perspective-origin</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [10]</td>
				<td>[12]</td>
				<td>[4]</td>
				<td></td>
			</tr>
			<tr>
				<td>backface-visibility</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [10]</td>
				<td>[12]</td>
				<td>[4]</td>
				<td></td>
			</tr>
			<tr>
				<th colspan="6">Transitions</th>
			</tr>
			<tr>
				<td>transition-property</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [4]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>
					<span>12.5</span> [11.6]</td>
			</tr>
			<tr>
				<td>transition-duration</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [4]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>
					<span>12.5</span> [11.6]</td>
			</tr>
			<tr>
				<td>transition-timing-function</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [4]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>
					<span>12.5</span> [11.6]</td>
			</tr>
			<tr>
				<td>transition-delay</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [4]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>
					<span>12.5</span> [11.6]</td>
			</tr>
			<tr>
				<td>transition</td>
				<td class="ieCurr">10</td>
				<td class="fxPrev">16 [4]</td>
				<td>[1]</td>
				<td>[3]</td>
				<td>
					<span>12.5</span> [11.6]</td>
			</tr>
			<tr>
				<th colspan="6">Flexible Box Layout</th>
			</tr>
			<tr>
				<td>flex</td>
				<td class="ieCurr">11 [10]</td>
				<td>22 [2]</td>
				<td>29 [4]</td>
				<td>[3.1]</td>
				<td>12.1</td>
			</tr>
			<tr>
				<td>flex-basis</td>
				<td class="ieCurr">11 [10]</td>
				<td>22 [2]</td>
				<td>29 [4]</td>
				<td>[3.1]</td>
				<td>12.1</td>
			</tr>
			<tr>
				<td>flex-direction</td>
				<td class="ieCurr">11 [10]</td>
				<td>22 [2]</td>
				<td>29 [4]</td>
				<td>[3.1]</td>
				<td>12.1</td>
			</tr>
			<tr>
				<td>flex-flow</td>
				<td class="ieCurr">11 [10]</td>
				<td></td>
				<td>29 [4]</td>
				<td>[3.1]</td>
				<td>12.1</td>
			</tr>
			<tr>
				<td>flex-grow</td>
				<td class="ieCurr">11 [10]</td>
				<td>22 [2]</td>
				<td>29 [4]</td>
				<td>[3.1]</td>
				<td>12.1</td>
			</tr>
			<tr>
				<td>flex-shrink</td>
				<td class="ieCurr">11 [10]</td>
				<td>22 [2]</td>
				<td>29 [4]</td>
				<td>[3.1]</td>
				<td>12.1</td>
			</tr>
			<tr>
				<td>flex-wrap</td>
				<td class="ieCurr">11 [10]</td>
				<td></td>
				<td>29 [4]</td>
				<td>[3.1]</td>
				<td>12.1</td>
			</tr>
			<tr>
				<td>order</td>
				<td class="ieCurr">11 [10]</td>
				<td>22 [2]</td>
				<td>29 [4]</td>
				<td>[3.1]</td>
				<td>12.1</td>
			</tr>
			<tr>
				<th colspan="6">Marquee</th>
			</tr>
			<tr>
				<td>marquee-direction</td>
				<td></td>
				<td></td>
				<td><span>[522]</span></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>marquee-play-count</td>
				<td></td>
				<td></td>
				<td><span>[522]</span></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>marquee-speed</td>
				<td></td>
				<td></td>
				<td><span>[522]</span></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>marquee-style</td>
				<td></td>
				<td></td>
				<td><span>[522]</span></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>overflow-style</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="browserSupport">
		<caption>@@-rules and Comments</caption>
		<thead>
			<tr>
				<th>@@-rule</th>
				<th>IE</th>
				<th>Firefox</th>
				<th>Chrome</th>
				<th>Safari</th>
				<th>Opera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@@import</td>
				<td>8</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>@@charset</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>@@media</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>@@page</td>
				<td>8</td>
				<td class="fxCurr">19</td>
				<td></td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>@@namespace</td>
				<td class="iePrev">9</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>8.0</td>
			</tr>
			<tr>
				<td>@@font-face</td>
				<td class="iePrev">9</td>
				<td>3.5</td>
				<td>1</td>
				<td></td>
				<td>10</td>
			</tr>
			<tr>
				<td>@@phonetic-alphabet</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="browserSupport">
		<caption>Functions</caption>
		<thead>
			<tr>
				<th>Function</th>
				<th>IE</th>
				<th>Firefox</th>
				<th>Chrome</th>
				<th>Safari</th>
				<th>Opera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>rect()</td>
				<td>5.5</td>
				<td>1</td>
				<td>1</td>
				<td>1.3</td>
				<td>9.5</td>
			</tr>
			<tr>
				<td>url()</td>
				<td>3</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>3.5</td>
			</tr>
			<tr>
				<td>counter()</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>attr()</td>
				<td>8</td>
				<td>1</td>
				<td>2</td>
				<td>3.1</td>
				<td>9</td>
			</tr>
			<tr>
				<td>calc()</td>
				<td class="iePrev">9</td>
				<td class="fxPrev">16 [4]</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>flex()</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<table class="browserSupport">
		<caption>Image Values</caption>
		<thead>
			<tr>
				<th>Image Value</th>
				<th>IE</th>
				<th>Firefox</th>
				<th>Chrome</th>
				<th>Safari</th>
				<th>Opera</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>&lt;url&gt;</td>
				<td>3.0</td>
				<td>1</td>
				<td>1</td>
				<td></td>
				<td>7</td>
			</tr>
			<tr>
				<td>&lt;sprite&gt;</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>&lt;image-list&gt;</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>&lt;linear-gradient&gt;</td>
				<td><span>[10]</span></td>
				<td>[1.9.2]</td>
				<td><span>[534]</span></td>
				<td></td>
				<td>[2.8]</td>
			</tr>
			<tr>
				<td>&lt;radial-gradient&gt;</td>
				<td><span>[10]</span></td>
				<td>[1.9.2]</td>
				<td><span>[534]</span></td>
				<td></td>
				<td>[2.8]</td>
			</tr>
			<tr>
				<td>linear-gradient()</td>
				<td><span>[10]</span></td>
				<td>[1.9.2]</td>
				<td><span>[534]</span></td>
				<td></td>
				<td>[2.8]</td>
			</tr>
			<tr>
				<td>radial-gradient()</td>
				<td><span>[10]</span></td>
				<td>[1.9.2]</td>
				<td><span>[534]</span></td>
				<td></td>
				<td>[2.8]</td>
			</tr>
			<tr>
				<td>repeating-linear-gradient()</td>
				<td><span>[10]</span></td>
				<td>[1.9.2]</td>
				<td><span>[534]</span></td>
				<td></td>
				<td>[2.8]</td>
			</tr>
			<tr>
				<td>repeating-radial-gradient()</td>
				<td><span>[10]</span></td>
				<td>[1.9.2]</td>
				<td><span>[534]</span></td>
				<td></td>
				<td>[2.8]</td>
			</tr>
		</tbody>
	</table>

</article>

