@{
	ViewBag.Title = "Layout Engines | CSS | Reference";
}

@section Breadcrumb {
	<ol class="breadcrumb">
		<li>@Html.ActionLink("Home", "index", "home", new { area = "" }, null)</li>
		<li>@Html.ActionLink("Reference", "index", "reference")</li>
		<li>CSS</li>
		<li>Layout Engines</li>
	</ol>
}


<article>

	<h1>Layout Engines</h1>

	<div class="smallTables">
		<table>
			<caption>Gecko</caption>
			<thead>
				<tr>
					<th>Gecko Version</th>
					<th>Firefox</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1.7</td>
					<td>1.0</td>
				</tr>
				<tr>
					<td>1.7.2</td>
					<td>1.0</td>
				</tr>
				<tr>
					<td>1.7.5</td>
					<td>1.0</td>
				</tr>
				<tr>
					<td>1.8.0</td>
					<td>1.5</td>
				</tr>
				<tr>
					<td>1.8.1</td>
					<td>2.0</td>
				</tr>
				<tr>
					<td>1.9.0</td>
					<td>3.0</td>
				</tr>
				<tr>
					<td>1.9.1</td>
					<td>3.5</td>
				</tr>
				<tr>
					<td>1.9.2</td>
					<td>3.6</td>
				</tr>
				<tr>
					<td>2.0</td>
					<td>4.0</td>
				</tr>
				<tr>
					<td>5.0</td>
					<td>5.0</td>
				</tr>
			</tbody>
		</table>

		<table>
			<caption>WebKit</caption>
			<thead>
				<tr>
					<th>WebKit Version</th>
					<th>Chrome</th>
					<th>Safari</th>
					<th>Safari Mobile</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>522</td>
					<td>0.2<br />
						0.3</td>
					<td>3.0</td>
					<td></td>
				</tr>
				<tr>
					<td>525</td>
					<td>0.4</td>
					<td>3.1<br />
						3.2</td>
					<td>3.1.1<br />
						3.2</td>
				</tr>
				<tr>
					<td>528</td>
					<td>1.0</td>
					<td>3.2</td>
					<td>4.0</td>
				</tr>
				<tr>
					<td>530</td>
					<td>2.0</td>
					<td>4.0</td>
					<td>4.0</td>
				</tr>
				<tr>
					<td>531</td>
					<td>2.0</td>
					<td>4.0.3</td>
					<td>4.0.4<br />
						4.0.5</td>
				</tr>
				<tr>
					<td>532</td>
					<td>3.0<br />
						4.0<br />
						4.1</td>
					<td>4.0.3</td>
					<td></td>
				</tr>
				<tr>
					<td>533</td>
					<td>5</td>
					<td>5.0</td>
					<td></td>
				</tr>
				<tr>
					<td>534</td>
					<td>6</td>
					<td>5.1</td>
					<td></td>
				</tr>
				<tr>
					<td>535</td>
					<td>13</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>536</td>
					<td>19</td>
					<td>6.0</td>
					<td></td>
				</tr>
				<tr>
					<td>537</td>
					<td>21</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>


		@*Opera Browser Versions: http://www.opera.com/docs/history/*@

		<table>
			<caption>Presto</caption>
			<thead>
				<tr>
					<th>Presto Version</th>
					<th>Opera</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1.0</td>
					<td>7.0<br />
						8.0<br />
						8.5</td>
				</tr>
				<tr>
					<td>2.0</td>
					<td>9.0<br />
						9.1<br />
						9.2</td>
				</tr>
				<tr>
					<td>2.1</td>
					<td>9.5</td>
				</tr>
				<tr>
					<td>2.1.1</td>
					<td>9.6</td>
				</tr>
				<tr>
					<td>2.2</td>
					<td>10.0<br />
						10.1</td>
				</tr>
				<tr>
					<td>2.5</td>
					<td>10.5</td>
				</tr>
				<tr>
					<td>2.6</td>
					<td>10.6</td>
				</tr>
				<tr>
					<td>2.7</td>
					<td>11.0</td>
				</tr>
				<tr>
					<td>2.8</td>
					<td>11.1</td>
				</tr>
				<tr>
					<td>2.9</td>
					<td>11.5</td>
				</tr>
				<tr>
					<td>2.10</td>
					<td>11.6</td>
				</tr>
				<tr>
					<td>2.12</td>
					<td>12.10</td>
				</tr>
			</tbody>
		</table>

		<table>
			<caption>Trident</caption>
			<thead>
				<tr>
					<th>Trident Version</th>
					<th>Internet Explorer</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>4.0</td>
					<td>8</td>
				</tr>
				<tr>
					<td>5.0</td>
					<td>9</td>
				</tr>
				<tr>
					<td>6.0</td>
					<td>10</td>
				</tr>
			</tbody>
		</table>
	</div>
</article>

