<section>
	<h2>Guidelines</h2>
	<ul>
		<li>@Html.ActionLink("Website Design", "website-design", "guidelines")</li>
		<li>@Html.ActionLink("Fonts", "fonts", "guidelines")</li>
		<li>@Html.ActionLink("Website Design Tips", "website-design-tips", "guidelines")</li>
		<li>@Html.ActionLink("Website Checklist", "website-checklist", "guidelines")</li>
	</ul>
</section>
