@{
    ViewBag.Title = "Error";
}

<article>
	<h1>Your cookies are not enabled!</h1>
	<section class="alert error">
		<p>It looks like cookies are not enabled on your browser. Cookies are needed if you want to log in and may be required for other services, such as submitting forms. @Html.ActionLink("If you want to find out how to enable cookies, click here", "cookies", "help").</p>
	</section>
</article>