@{
    ViewBag.Title = "Error";
}

<article>
	<h1>You cannot submit <abbr title="HyperText Markup Language">HTML</abbr>!</h1>
	<section class="alert error">
		<p>You cannot send a form that contains <abbr title="HyperText Markup Language">HTML</abbr>. You will need to remove all <abbr title="HyperText Markup Language">HTML</abbr> formatting and send plain text only.</p>
	</section>
</article>