@{
    ViewBag.Title = "Home";
}

<article>
	<h1>Home Page</h1>

	<section id="homeContents">
		<section>
			<h2>@Html.ActionLink("Reference", "index", "reference")</h2>
			<p>A website coding reference guide. Includes pages on ASP.NET, HTML, XML, etc.</p>
		</section>
		<section>
			<h2>@Html.ActionLink("Guidelines", "index", "guidelines")</h2>
			<p>A set of guidelines for websites for non-developers.</p>
		</section>
	</section>

</article>

